{% extends "adult_social_care.html" %}
{% block content %}
<main id="content">
  <div class="container">
    <div class="main">
      <section class="head">
        <div class="part-of">
          <span class="part-of-head">Part of</span>
          <span class="part-of-title"><a href="get-social-care-help">Adult social care: step by step</a></span>
        </div>
        <h1>Adapt your home to work for you</h1>
        <nav class="contents split-list" aria-label="pages-in-this-service">
          <div class="heading"><h2>Contents</h2></div>
          <ol class="list list-number" id="pages-in-this-service">
            <li>Home adaptations</li>
            <li><a href="get-help-with-home-adaptations">Get help with home adaptations</a></li>
            <li><a href="how-to-get-an-occupational-therapy-assessment">How to get an occupational therapy assessment</a></li>
            <li><a href="pay-for-your-own-home-adaptations">Pay for your own home adaptations </a></li>
          </ol>
        </nav>
      </section>
      <section class="content">
        <h2 id="home-adaptations">Home adaptations</h2>
        <p>Home adaptations are changes you can make to your home to help you manage everyday tasks and stay independent.</p>
        <p>If you live in a rented property you'll need to get your landlord's permission to make changes.</p>
        <h3>Minor adaptations</h3>
        <p>These are small changes made to your home and usually cost than less than £1000. For example:</p>
        <ul>
        <li>grab rails around the bath, shower or toilet</li>
        <li>grab rails by the front or back door</li>
        <li>additional stair rails</li>
        <li>small steps to doors</li>
        <li>lever taps in the kitchen</li>
        </ul>
        <h3>Major adaptations</h3>
        <p>These are significant changes to your home and are more expensive. For example:</p>
        <ul>
        <li>level access showers or wet rooms</li>
        <li>stairlifts or through-floor lifts</li>
        <li>wheelchair ramps</li>
        <li>widening doorways</li>
        <li>adapting kitchens</li>
        </ul>
        <nav class="pagination" aria-label="pagination">
          <ul>
            <li class="next">
              <a href="get-help-with-home-adaptations">
                <span class="pagination-item">
                  <span class="fas fa-arrow-right"></span>Next
                </span>
                <span>Get help with home adaptations</span>
              </a>
            </li>
          </ul>
        </nav>    
        <a href="javascript:window.print()" class="print-link">Print this page</a>
      </section>
      <div class="step-by-step side">
        <div class="part-of">
          <span class="part-of-head">Part of</span>
          <span class="part-of-title"><a href="get-social-care-help">Adult social care: step by step</a></span>
        </div>
        <div id="step-by-step-navigation" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
          <ol class="steps">
            <li class="js-step app-step-nav__step--active" data-show>
              <div class="js-toggle-panel" data-position="1">
                <div class="step-number">
                  <span class="number">1</span>
                </div>
                <span class="js-step-title">Get help yourself</span>
              </div>
              <div class="js-panel js-hidden preview-list">
                <p>There are lots of ways you can get help and support yourself with day-to-day living.</p>
                <ol data-length="6">
                  <li>Talk to family and friends</li>
                  <li class="js-list-item">Visit a doctor – go to the <a data-position="1.1" href="https://www.nhs.uk/using-the-nhs/nhs-services/gps/">NHS website</a> to find out how</li>
                  <li class="js-list-item"><a data-position="1.2" href="mobility-aids">Find walking and mobility aids</a></li>
                  <li class="js-list-item"><a data-position="1.3" href="help-with-meals-and-shopping">Get help with meals and shopping</a></li>
                  <li class="js-list-item app-step-nav__list-item--active"><a data-position="1.4" href="adapt-your-home-to-work-for-you">Adapt your home to work for you</a></li>
                  <li class="js-list-item"><a data-position="1.5" href="buy-your-own-alarms-sensors-and-monitors">Use technology, like alarms and monitors,</a> to keep you safe</li>
                  <li class="js-list-item"><a data-position="1.6" href="https://www.ageuk.org.uk/essex/activities-and-events/">Join a club or support group</a></li>
                  <p><a href="https://www.carechoices.co.uk/lp/care-in-essex/">Care Choices</a> can help you find care services.</p>
                  <p>The <a href="https://www.cqc.org.uk/">Care Quality Commission</a> has guidance on finding care services and care homes.</p> 
                  <p>If you are looking after someone, see <a href="are-you-a-carer">support for carers.</a></p>                  
                </ol>
              </div>
            </li>
            <li class="js-step">
              <div class="js-toggle-panel" data-position="2">
                <div class="step-number">
                  <span class="number">2</span>
                </div>
                <span class="js-step-title">Contact Adult Social Care</span>
              </div>
              <div class="js-panel js-hidden preview-list">
                <p>The first thing you need to do is to have a conversation with adult social care about your needs and what could help you manage 
                everyday tasks.</p>
                <p>They will ask you about what’s important to you, what you can manage yourself, what additional support you may need and how you’re 
                feeling about things.</p> 
                <p>They will agree an action plan with you to help you achieve the outcomes that are important to you.</p>
                <h4>Call Adult Social Care</h4>
                <p>Telephone: 0345 603 7630<br/>Textphone: 0345 758 5592</p>
              </div>
            </li>
            <li class="js-step">
              <div class="js-toggle-panel" data-position="3">
                <div class="step-number">
                  <span class="number">3</span>
                </div>
                <span class="js-step-title">An assessment to see if you might be eligible for support</span>
              </div>
              <div class="js-panel js-hidden preview-list">
                <p>A care needs assessment is a more detailed conversation of your care and support with a social worker or occupational therapist.
                It will identify your eligible needs and what support you could get.</p>
                <p>You can have someone with you during the assessment. This could be your family, friends, carer or an 
                  <a href="advocacy">advocate to speak on your behalf</a>.</p>
                  <p>Your carer is also entitled to a <a href="request-carers-assessment">carer’s assessment</a>.</p>
                </div>
              </li>
              <li class="js-step">
                <div class="js-toggle-panel" data-position="4">
                  <div class="step-number">
                    <span class="number and">and</span>
                  </div>
                  <span class="js-step-title">Costs of social care</span>
                </div>
                <div class="js-panel js-hidden preview-list">
                  <p>Most people have to pay something towards their care and support.</p>
                  <p>How much you will be asked to pay depends on your income and assets.</p>
                  <p>See our guidance on <a href="do-i-need-to-pay-for-care">paying for care and support</a>.</p>
                </div>
              </li>
              <li class="js-step">
                <div class="js-toggle-panel" data-position="5">
                  <div class="step-number">
                    <span class="number">4</span>
                  </div>
                  <span class="js-step-title">Care and support planning</span>
                </div>
                <div class="js-panel js-hidden preview-list">
                  <p>Following your assessment and agreement of your eligible needs, you will receive a care and support plan that will 
                  detail your identfied needs and how they will be met. It will include:</p> 
                  <ul>
                    <li>What your desired outcomes are</li>
                    <li>Which outcomes are eligible for Adult Social Care support</li>
                    <li>What your personal budget is and how it's going to be spent</li>
                  </ul>
                <p>Age UK has guidance on <a href="https://www.ageuk.org.uk/information-advice/care/arranging-care/">finding and arranging social care</a>.</p>
                <p>Disability Rights UK has guidance on <a href="https://www.disabilityrightsuk.org/assessment-eligibility-and-support-planning">care needs assessments and support planning.</a></p>
              </div>
            </li>
            <li class="js-step">
              <div class="js-toggle-panel" data-position="6">
                <div class="step-number">
                  <span class="number">5</span>
                </div>
                <span class="js-step-title">Regular review of care needs</span>
              </div>
              <div class="js-panel js-hidden preview-list">
                <p>Over time people’s care needs change so there might be changes in care and support.</p>
                <p>We will review your support plan to make sure it's still meeting your needs.</p>
                <p>Let us know if your <a href="changes-to-circumstances">care needs or your circumstances have changed</a> as this may affect your care and support plan.</p> 
              </div>
            </li>  
          </ol>
        </div>             
      </div>
    </div>
  </div>
</main>
{% endblock %}