{% extends "adult_social_care.html" %}

{% block content %}
 
<nav class="breadcrumbs" aria-label="breadcrumbs">
    <ol>
        <li><a href="/">Home</a></li>

                <li><a href="/topic/adult-social-care-and-health">Adult social care and health</a></li>
                <li><a href="/topic/support-for-carers">Support for carers</a></li>
        <li>Request a carer&#x27;s assessment: Carer&#x27;s assessments </li>
    </ol>
</nav>


  <main id="content">
    <div class="container">
      <div class="main article-alert">
  <section class="content article-page">
    <h1>Request a carer&#x27;s assessment</h1>
<nav class="contents" aria-label="pages-in-this-service">
  <div class="heading"><h2>Contents</h2></div>
  <ol class="list list-number" id="pages-in-this-service">
        <li><a href="/request-carers-assessment/need-support-contact-carers-first">Need support? Contact Carers First</a></li>
        <li>Carer&#x27;s assessments </li>
        <li><a href="/request-carers-assessment/young-carers-assessment">Young carer&#x27;s assessment</a></li>
  </ol>
</nav>
<h2 id="carers-assessments"> Carer&#x27;s assessments </h2>
<p>One of the ways we can  help you is through giving you a carer's assessment. A carer's assessment is a conversation with one of our trained representatives.</p>
<p>A carer's assessment is not a test of your caring abilities, it's a conversation to understand how caring affects your day-to-day life and work out what we can do to help you.</p>
<p>This might include a personal budget to use for your caring needs, free training or connecting to local support.</p>
<h3>How do I arrange a carer's assessment?</h3>
<p>You can have an assessment on your own, or with the person you care for.</p>
<p><div class="inset">
  <div class="section-heading">Call Adult Social Care</div>
  <p>Telephone: 0345 603 7630<br />
Textphone: 0345 758 5592</p>
<p>Monday to Thursday, 8:45am to 5pm<br />
Friday, 8:45am to 4:30pm</p>
<p>For out of hours queries contact the Emergency Duty Service</p>
<p>Telephone: 0345 606 1212</p>

</div></p>
<h3>How does it take place?</h3>
<p>The assessment can take place over the telephone, or it might be a face to face meeting.</p>
<p>All relevant information will be written down and agreed in a document called a care and support plan. This states the care and support needs, and also outlines how these needs can be met.</p>
<h3>Who can have a carer's assessment?</h3>
<p>Anyone can ask for a carer's assessment. Local authorities have a legal duty to assess any carer who requests one.</p>
<p>Legislation.gov.uk. contains further details about the  <a href="https://www.legislation.gov.uk/ukdsi/2014/9780111124185" title="National eligibility requirements for carer's support">national eligibility requirements</a>  for receiving support as a carer.</p>
<p>You don't have to live with the person you are looking after or be caring full-time to have an assessment.</p>
<p>If you are a parent carer of a disabled child under 18 you have a right to a carer's assessment.  Read more on our page about <a href="/parent-carers-of-disabled-children">parent carers of disabled children</a>.</p>
<p>For more information on carers assessments visit <a href="https://www.carersuk.org/help-and-advice/practical-support/getting-care-and-support/carers-assessment" title="Carers UK website, section on Carer's assessment">Carers UK</a>.</p>
<nav class="pagination" aria-label="pagination">
  <ul>
      <li class="prev">
        <a href="/request-carers-assessment/need-support-contact-carers-first">
          <span class="pagination-item">
            <span class="fas fa-arrow-left"></span>Previous
          </span>
          <span>Need support? Contact Carers First</span>
        </a>
      </li>
          <li class="next">
        <a href="/request-carers-assessment/young-carers-assessment">
          <span class="pagination-item">
            <span class="fas fa-arrow-right"></span>Next
          </span>
          <span>Young carer&#x27;s assessment</span>
        </a>
      </li>
  </ul>
</nav>    <a href="javascript:window.print()" class="print-link">Print this page</a>
  </section>
</div>
    </div>
    <div class="hidden" id="envname">publicb</div>
  </main>
  
{% endblock %}