{% extends "adult_social_care.html" %}
{% block content %}
<main id="content">
  <div class="container">
    <div class="main">
      <section class="head">
        <div class="part-of">
          <span class="part-of-head">Part of</span>
          <span class="part-of-title"><a href="get-social-care-help">Adult social care: step by step</a></span>
        </div>
      </section>
      <section class="content">
  			<h1>Help with meals and shopping</h1>
  			<p>You can have meals delivered at home if you find it hard to go shopping or prepare meals for yourself.</p>
  			<h2>Meal services in Essex</h2>
  			<p>There are suppliers across Essex that can deliver hot meals to your home. We recommend using a supplier approved by our Trading Standards team.</p>
  			<p>Find a local supplier with <a href="https://www.buywithconfidence.gov.uk/find-a-business/">Buy with Confidence</a>.</p>
  			<h2>Food banks and community meals</h2>
  			<p>The Trussell Trust provides emergency food and support for up to 3 days. <a href="https://www.trusselltrust.org/get-help/find-a-foodbank/">Find a food bank in your area</a>.</p>
  			<p><a href="https://www.foodcycle.org.uk/who-we-are/locations/">FoodCycle</a> is a charity that gives meals to people at risk of food poverty and social isolation.</p>
  			<h2>Community transport schemes in Essex</h2>
  			<p>If you need help getting around, there are local transport services, such as dial-a-ride and group travel, to help you get your shopping done.</p>
  			<p>Find out more information about <a href="https://www.essexhighways.org/Transport-and-Roads/Getting-Around/Bus/Accessible-Transport/Community-transport.aspx">Community Transport in Essex</a>.</p>
  			<h2>Help from your supermarket or local store</h2>
  			<p>Many of the big supermarkets will help you shop if you're having difficulties moving around. They can help:</p>
  			<ul>
  			<li>you around the supermarket if you are using a wheelchair</li>
  			<li>collect your shopping for you</li>
  			</ul>
  			<p>You can order shopping online from supermarkets who have a home delivery service. Contact the supermarkets directly to find out more.</p>
  			<p>Some local food shops will deliver food to your home for a small charge.</p>
  			<a href="javascript:window.print()" class="print-link">Print this page</a>
			</section>
      <div class="step-by-step side">
        <div class="part-of">
          <span class="part-of-head">Part of</span>
          <span class="part-of-title"><a href="get-social-care-help">Adult social care: step by step</a></span>
        </div>
        <div id="step-by-step-navigation" class="step-by-step" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
          <ol class="steps">
            <li class="js-step app-step-nav__step--active" data-show>
              <div class="js-toggle-panel" data-position="1">
                <div class="step-number">
                  <span class="number">1</span>
                </div>
                <span class="js-step-title">Get help yourself</span>
              </div>
              <div class="js-panel js-hidden preview-list">
                <p>There are lots of ways you can get help and support yourself with day-to-day living.</p>
                <ol data-length="6">
                  <li>Talk to your family and friends to get their help and support.</li>
                  <li class="js-list-item">Visit a doctor – go to the <a data-position="1.1" href="https://www.nhs.uk/using-the-nhs/nhs-services/gps/">NHS website</a> to find out how.</li>
                  <li class="js-list-item"><a data-position="1.2" href="mobility-aids">Find walking and mobility aids</a>.</li>
                  <li class="js-list-item app-step-nav__list-item--active"><a data-position="1.3" href="help-with-meals-and-shopping">Get help with meals and shopping.</a></li>
                  <li class="js-list-item"><a data-position="1.4" href="adapt-your-home-to-work-for-you">Adapt your home to work for you.</a></li>
                  <li class="js-list-item"><a data-position="1.5" href="buy-your-own-alarms-sensors-and-monitors">Use technology, equipment and daily living aids</a> to keep you safe and stay independent.</li>
                  <li class="js-list-item">Join a club or support group - visit the <a data-position="1.6" href="https://www.ageuk.org.uk/essex/activities-and-events/">Age UK website</a>.</li>
                  <p>Visit <a href="http://www.vcconnectsystem.org.uk/EssexConnectsOnlineDirectory/Home.aspx">EssexConnects Online</a> and <a href="https://connectwellessex.org.uk/#">Connect Well Essex</a> to find local services and social activities.</p>
                  <li class="js-list-item">If you're looking after someone, see <a href="are-you-a-carer">support for carers</a>.</li> 
                </ol>
              </div>
            </li>
            <li class="js-step">
              <div class="js-toggle-panel" data-position="2">
                <div class="step-number">
                  <span class="number">2</span>
                </div>
                <span class="js-step-title">Contact Adult Social Care</span>
              </div>
              <div class="js-panel js-hidden preview-list">
                <p>If you can't find help and support yourself, contact Adult Social Care for an informal chat about your care and support needs.</p>
                <p>They will ask what you can manage yourself, what additional support you may need and how you’re 
                  feeling about things.</p>
                <p>They will suggest how you can get the care and support you need.</p> 
               
                <h4>Call Adult Social Care</h4>
                <p>Telephone: 0345 603 7630<br/>Textphone: 0345 758 5592</p>
              </div>
            </li>
            <li class="js-step">
              <div class="js-toggle-panel" data-position="3">
                <div class="step-number">
                  <span class="number">3</span>
                </div>
                <span class="js-step-title">An assessment to see if you might be eligible for support</span>
              </div>
              <div class="js-panel js-hidden preview-list">
                <p>Adult Social Care might arrange for you to have a care needs assessment. This is a more detailed conversation about your care and support with a social worker or an occupational therapist.
                  It will identify your eligible needs and what support you could get.</p>
                <p>The NHS website has more information on <a href="https://www.nhs.uk/conditions/social-care-and-support-guide/help-from-social-services-and-charities/getting-a-needs-assessment/">what happens in a care needs assessment</a>.</p>
                <p>You can have someone with you during the assessment. This could be your family, friends, carer or an <a href="advocacy">advocate to speak for you</a>.</p>
                <p>If a family member or a friend is looking after you, they might be eligible for support, see <a href="request-carers-assessment">carer’s assessment</a>.</p>
              </div>
            </li>
            <li class="js-step">
              <div class="js-toggle-panel" data-position="4">
                <div class="step-number">
                  <span class="number and">and</span>
                </div>
                <span class="js-step-title">Costs of social care</span>
              </div>
              <div class="js-panel js-hidden preview-list">
                <p>Most people have to pay something towards their care and support.</p>
                <p>How much you will be asked to pay depends on your income and assets.</p>
                <p>Try our 5-minute <a href="https://www.essex.gov.uk/start/care-contribution-calculator">care contribution calculator</a> to get a rough estimate of how much you might be asked to pay towards your care.</p>
              </div>
            </li>
            <li class="js-step">
              <div class="js-toggle-panel" data-position="5">
                <div class="step-number">
                  <span class="number">4</span>
                </div>
                <span class="js-step-title">Care and support planning</span>
              </div>
              <div class="js-panel js-hidden preview-list">
               <p>If you're assessed to have eligible needs, we will agree a care and support plan with you. The plan will show how your support will be provided, how much your care will cost, this is your personal budget, and who will be paying for it.
              <p>Age UK has more information on <a href="https://www.ageuk.org.uk/information-advice/care/paying-for-care/financial-assessment/personal-budgets-and-direct-payments/">personal care budgets</a>.</p>
              </div>
            </li>
            <li class="js-step">
              <div class="js-toggle-panel" data-position="6">
                <div class="step-number">
                  <span class="number">5</span>
                </div>
                <span class="js-step-title">Regular review of care needs</span>
              </div>
              <div class="js-panel js-hidden preview-list">
               <p>Over time people’s care needs change so there might be changes in care and support.</p>
                <p>We will review your care and support plan to make sure it's still meeting your needs.</p>
                <p>Let us know if your <a href="changes-to-circumstances">care needs or your circumstances have changed</a> as this may affect your care and support plan.</p> 
              </div>
            </li>  
          </ol>
        </div>          
      </section>
    </div>
  </div>
</main>
{% endblock %}