{% extends "adult_social_care.html" %}

{% block content %}

<nav class="breadcrumbs" aria-label="breadcrumbs">
    <ol>
        <li><a href="/">Home</a></li>

                <li><a href="/topic/adult-social-care-and-health">Adult social care and health</a></li>
        <li>Paying for care and support</li>
    </ol>
</nav>


  <main id="content">
    <div class="container">
      <div class="main only">
  <section class="intro">
    <h1>Paying for care and support</h1>
    
  <ul class="link-boxes">
    <li class="link-box">
      <div class="link-content">
        <a href="/do-i-need-to-pay-for-care" class="sub-section-heading">Do I need to pay for care?</a>
        <p>Try our 5-minute care contribution calculator for an estimate of how much you might need to pay for care</p>
      </div>
    </li>
    <li class="link-box">
      <div class="link-content">
        <a href="/financial-assessment" class="sub-section-heading">Financial assessment</a>
        <p>We will work out if you are eligible for financial support towards your care through a financial assessment</p>
      </div>
    </li>
    <li class="link-box">
      <div class="link-content">
        <a href="/paying-for-a-care-home" class="sub-section-heading">Paying for a care home</a>
        <p>Includes ways to pay for a care home and how to apply for financial support</p>
      </div>
    </li>
  </ul>
  </section>
  <section class="content">

<div class="preview-list">
  <ul>
    <li>
      <a href="/council-care-charges">Council care charges</a>
      <p>See the rates we charge for care and support services at home, also called non-residential or domiciliary care</p>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/pay-your-care-invoice">Pay your care invoice</a>
      <p>Pay your care invoice online or you can pay by Direct Debit, bank transfer, telephone and cheque</p>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/personal-budgets-and-direct-payments">Personal budgets and Direct payments</a>
      <p>Find out about personal budgets and using direct payments to arrange and pay for your own care</p>
    </li>
  </ul>
</div>    </section>
</div>
    </div>
    <div class="hidden" id="envname">publica</div>
  </main>
  
{% endblock %}