{% extends "adult_social_care.html" %}

{% block content %}

<nav class="breadcrumbs" aria-label="breadcrumbs">
    <ol>
        <li><a href="/">Home</a></li>

                <li><a href="/topic/adult-social-care-and-health">Adult social care and health</a></li>
        <li>Support for carers</li>
    </ol>
</nav>


  <main id="content">
    <div class="container">
      <div class="main only">
  <section class="intro">
    <h1>Support for carers</h1>
    
  <ul class="link-boxes">
    <li class="link-box">
      <div class="link-content">
        <a href="/are-you-a-carer" class="sub-section-heading">Are you a carer?</a>
        <p>If you regularly look after someone, you might be eligible for extra support. </p>
      </div>
    </li>
    <li class="link-box">
      <div class="link-content">
        <a href="/request-carers-assessment" class="sub-section-heading">Request a carer&#x27;s assessment</a>
        <p>Find out about the help we offer carers and young carers</p>
      </div>
    </li>
    <li class="link-box">
      <div class="link-content">
        <a href="/financial-support-for-carers" class="sub-section-heading">Financial support for carers</a>
        <p>Includes Carers Allowance, Carers Credit, Council tax reductions and other financial support</p>
      </div>
    </li>
  </ul>
  </section>
  <section class="content">

<div class="preview-list">
  <ul>
    <li>
      <a href="/emotional-support-for-carers">Emotional support for carers</a>
      <p> Looking after your wellbeing as a carer, including taking a break from caring </p>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/parent-carers-of-disabled-children">Parent carers of disabled children</a>
      <p>Get support with looking after a child with disabilities or a long-term health condition</p>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/carers-rights-in-the-workplace">Carers&#x27; rights in the workplace</a>
      <p>Information on flexible working, time off and protection from discrimination</p>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/looking-after-someones-affairs">Looking after someone&#x27;s affairs</a>
      <p>Getting power of attorney and looking after someone who lacks mental capacity</p>
    </li>
  </ul>
</div>    </section>
</div>
    </div>
    <div class="hidden" id="envname">publicb</div>
  </main>

{% endblock %}