{% extends "adult_social_care.html" %}

{% block content %}


<nav class="breadcrumbs" aria-label="breadcrumbs">
    <ol>
        <li><a href="/">Home</a></li>

                <li><a href="/topic/adult-social-care-and-health">Adult social care and health</a></li>
                <li><a href="/topic/help-to-live-at-home">Help to live at home</a></li>
        <li>Technology for independent living: Types of telecare, alarms, sensors and monitors</li>
    </ol>
</nav>


  <main id="content">
    <div class="container">
      <div class="main article-alert">
  <section class="content article-page">
    <h1>Technology for independent living</h1>
<nav class="contents" aria-label="pages-in-this-service">
  <div class="heading"><h2>Contents</h2></div>
  <ol class="list list-number" id="pages-in-this-service">
        <li>Types of telecare, alarms, sensors and monitors</li>
        <li><a href="get-help-from-your-local-council">Get help from your local council</a></li>
        <li><a href="buy-your-own-alarms-sensors-and-monitors">Buy your own alarms, sensors and monitors</a></li>
  </ol>
</nav>
<h2 id="types-of-telecare-alarms-sensors-and-monitors"> Types of telecare, alarms, sensors and monitors</h2>
<p>If you are elderly, disabled or have an illness, technology can help you stay independent in your home and be better connected with your community.</p>
<p>There are alarms, sensors, monitors and detectors, that can be placed around your home or worn. They can keep you safe and help make life easier for you and those that care for you.</p>
<h3>Telecare, alarms, sensors and detectors</h3>
<p>Alarms and sensors, also known as telecare, Careline or community alarms, can be fitted all around the home. When they are triggered, it will alert your carer, family members or a monitoring centre. This can be done automatically by telephone.</p>
<p>You may use some of the following:</p>
<ul>
<li>chair or bed sensors linked to a pager - these make an alarm call if you are out of bed for longer than a preset time</li>
<li>pressure mats with sensors and placed beside a bed, chair or by a door - these send an alert to a monitoring centre if you get out of bed and don't return</li>
<li>a wearable alarm, on a pendant, belt or a watch</li>
</ul>
<h3>Memory aids and tools</h3>
<p>If you are finding memory loss a problem, these devices can help you remember to do things:</p>
<ul>
<li>alarm medication reminders</li>
<li>sensors to switch off the gas</li>
<li>digital personal assistants - set verbal reminders, like a timer to take medications at certain times during the day</li>
</ul>
<p>See our <a href="/dementia">dementia and memory loss</a> page for more information and advice.</p>
<h3>Property exit sensors and personal locators</h3>
<p>If you are at risk of wandering and getting lost, these products can help you stay safe. They can give your relatives and carers reassurance that they can find you if you wander off and get lost.</p>
<p>Property sensors are fitted to a door frame can detect if someone leaves the property and doesn't return within a certain period of time. An alarm call is made to your relatives or carer who will come and help you.</p>
<p>Personal locators allow you to share your location with your relatives or carers. They come in different forms such as a pendant, a watch, a bracelet or carried in a pocket.</p>
<h3>Home environmental controls</h3>
<p>If you're having problems moving around because of disability or an illness, you can use remote controls to open doors, answer the telephone, operate domestic appliances and set your home temperature.</p>
<h3>Communication tools</h3>
<p>If you have a sensory impairment, these devices and tools can help you:</p>
<ul>
<li>portable electronic communicators which allow you to record words or phrases that play back at the touch of a button</li>
<li>talking photo albums</li>
</ul>
<p><a href="http://www.essexice.co.uk/">Inclusive Communication Essex (ICE)</a> is an Essex-wide training package for families and carers of adults with learning disabilities. It teaches them how to use a variety of different forms of communication.</p>
<p>ICE offers advice and loan of communication tools and aids free of charge.</p>
<h3>More information</h3>
<p><a href="https://www.adass.org.uk/guide-to-supporting-carers-through-technology-enabled-care-services" title="The Directors of adult social services">The Directors of adult social services (ADASS) has guidance on technology solutions to support carers</a>.</p>
<p><a href="https://www.ageuk.org.uk/information-advice/care/housing-options/adapting-home/telecare/" title="AgeUK guidance on telecare and telehealth">Age UK gives information and advice on using technology for independence</a>.</p>
<p><a href="https://www.alzheimers.org.uk/get-support/staying-independent/using-technology-everyday-life">The Alzheimer's Society has guidance on assistive technology</a></p>
<p><a href="https://www.atdementia.org.uk/" title="AT dementia guidance on assistive technology">AT Dementia has guidance on assistive technology for people with dementia</a>.</p>
<nav class="pagination" aria-label="pagination">
  <ul>
          <li class="next">
        <a href="/technology-for-independent-living/get-help-from-your-local-council">
          <span class="pagination-item">
            <span class="fas fa-arrow-right"></span>Next
          </span>
          <span>Get help from your local council</span>
        </a>
      </li>
  </ul>
</nav>    <a href="javascript:window.print()" class="print-link">Print this page</a>
  </section>

        <div class="step-by-step">
          <div class="step">
            <div class="step-number">
              <span class="section-heading number">1</span>
              <span class="step-link"></span>
            </div>
            <div class="toggle">
              <div data-target="tab-one">
                <h3 class="section-heading">Get help yourself</h3>
                <input class="checkbox" id="toggle-one" type="checkbox">
                <label class="show" for="toggle-one">Show</label>
                <label class="hide" for="toggle-one">Hide</label>
              </div>
              <div class="js-hidden preview-list" id="tab-one">
              <p>There are lots of ways you can get help and support yourself with day-to-day living. You can:</p>
                <ul>
                  
                  <li>visit a doctor – go to the <a href="https://www.nhs.uk/using-the-nhs/nhs-services/gps/">NHS website</a> to find out how</li>
                  <li><a href="mobility-aids">find walking and mobility aids</a></li>
                  <li><a href="help-with-meals-and-shopping">get help with meals and shopping</a></li>
                  <li><a href="adapt-your-home-to-work-for-you">adapt your home to work for you</a></li>
                  <li><a href="buy-your-own-alarms-sensors-and-monitors">use technology, like alarms and monitors,</a> to keep you safe</li>
                  <li><a href="https://www.ageuk.org.uk/essex/activities-and-events/">join a club or support group</a></li>
                </ul>
                <p><a href="https://www.carechoices.co.uk/lp/care-in-essex/">Care Choices</a> can help you find care services.</p>
                <p>The <a href="https://www.cqc.org.uk/">Care Quality Commission</a> has guidance on finding care services and care homes.</p> 
                <p>If you are looking after someone, see <a href="support-for-carers">support for carers.</a></p>
              </div>
            </div>
          </div>

          <div class="step">
            <div class="step-number">
              <span class="section-heading number">2</span>
              <span class="step-link"></span>
            </div>
            <div class="toggle">
              <div data-target="tab-two">
                <h3 class="section-heading">Contact Adult Social Care</h3>
                <input class="checkbox" id="toggle-two" type="checkbox">
                <label class="show" for="toggle-two">Show</label>
                <label class="hide" for="toggle-two">Hide</label>
              </div>
              <div class="js-hidden preview-list" id="tab-two">
                <p>The first thing you need to do is to have a conversation with adult social care about your needs and what could help you manage 
                  everyday tasks.</p>
                <p>They will ask you about what’s important to you, what you can manage yourself, what additional support you may need and how you’re 
                  feeling about things.</p> 
                <p>They will agree an action plan with you to help you achieve the outcomes that are important to you.</p>
                <h4>Call Adult Social Care</h4>
                <p>Telephone: 0345 603 7630<br/>Textphone: 0345 758 5592</p>
              </div>
            </div>
          </div>

          <div class="step">
            <div class="step-number">
              <span class="section-heading number">3</span>
              <span class="step-link"></span>
            </div>
            <div class="toggle">
              <div data-target="tab-three">
                <h3 class="section-heading">An assessment to see if you might be eligible for support</h3>
                <input class="checkbox" id="toggle-three" type="checkbox">
                <label class="show" for="toggle-three">Show</label>
                <label class="hide" for="toggle-three">Hide</label>
              </div>
              <div class="js-hidden preview-list" id="tab-three">
                <p>A care needs assessment is a more detailed conversation of your care and support with a social worker or occupational therapist.
                  It will identify your eligible needs and what support you could get.</p>
                <p>You can have someone with you during the assessment. This could be your family, friends, carer or an 
                  <a href="advocacy">advocate to speak on your behalf</a>.</p>
                <p>Your carer is also entitled to a <a href="request-carers-assessment">carer’s assessment</a>.</p>
                <p></p>
                </ul>
              </div>
            </div>
          </div>


          <div class="step">
            <div class="step-number">
              <span class="section-heading number and">and</span>
              <span class="step-link"></span>
            </div>
            <div class="toggle">
              <div data-target="tab-four">
                <h3 class="section-heading">Costs of social care</h3>
                <input class="checkbox" id="toggle-four" type="checkbox">
                <label class="show" for="toggle-four">Show</label>
                <label class="hide" for="toggle-four">Hide</label>
              </div>
              <div class="js-hidden preview-list" id="tab-four">
             <p>Most people have to pay something towards their care and support.</p>
                <p>How much you will be asked to pay depends on your income and assets.</p>
                <p>See our guidance on <a href="do-i-need-to-pay-for-care">paying for care and support</a>.</p>
              </div>
            </div>
          </div>

          <div class="step">
            <div class="step-number">
              <span class="section-heading number">4</span>
              <span class="step-link"></span>
            </div>
            <div class="toggle">
              <div data-target="tab-five">
                <h3 class="section-heading">Care and support planning</h3>
                <input class="checkbox" id="toggle-five" type="checkbox">
                <label class="show" for="toggle-five">Show</label>
                <label class="hide" for="toggle-five">Hide</label>
              </div>
              <div class="js-hidden preview-list" id="tab-five">
               <p>Following your assessment and agreement of your eligible needs, you will receive a care and support plan that will 
                 detail your identfied needs and how they will be met. It will include:</p> 
              <ul>
                  <li>what your desired outcomes are</li>
                  <li>which outcomes are eligible for Adult Social Care support</li>
                  <li>what your personal budget is and how it's going to be spent</li>
              </ul>
                <p>Age UK has guidance on <a href="https://www.ageuk.org.uk/information-advice/care/arranging-care/">finding and arranging social care</a>.</p>
                <p>Disability Rights UK has guidance on <a href="https://www.disabilityrightsuk.org/assessment-eligibility-and-support-planning">care needs assessments and support planning.</a></p>
                <p>See our guidance on <a href="support-for-carers">support for carers</a>.</p>
        
              </div>
            </div>
          </div>

          <div class="step">
            <div class="step-number">
              <span class="section-heading number">5</span>
              <span class="step-link"></span>
            </div>
            <div class="toggle">
              <div data-target="tab-six">
                <h3 class="section-heading">Regular review of care needs</h3>
                <input class="checkbox" id="toggle-six" type="checkbox">
                <label class="show" for="toggle-six">Show</label>
                <label class="hide" for="toggle-six">Hide</label>
              </div>
              <div class="js-hidden preview-list" id="tab-six">
                <p>Over time people’s care needs change so there might be changes in care and support.</p>
                <p>We will review your support plan to make sure it's still meeting your needs.</p>
                <p>Let us know if your <a href="changes-to-circumstances">care needs or your circumstances have changed</a> as this may affect your care and support plan.</p> 
                <p>See our guidance on <a href="advocacy">advocacy</a> if you need someone to speak on your behalf.</p>
                </ul>
              </div>
            </div>
          </div>

</div>
    </div>
  </main>

{% endblock %}