{% extends "essex_main_template_search_header.html" %}

{% block content %}

<nav class="breadcrumbs" aria-label="breadcrumbs">
  <ol>
    <li><a href="/docs/core/contents">Contents</a></li>
    <li>Neil O'Sullivan Sports</li>
  </ol>
</nav>

<main id="content">
  <div class="container">
    <div class="main" id="childcare-provider">
      <section class="intro">               
        <h1>Neil O'Sullivan Sports</h1>

        <ul class="search-results">
          <li>
            <ul class="data">
              <li><span>Distance</span>0.1</li>
              <li><span>Provider Type</span>After School Club</li>
              <li><span>Ofsted Reference</span>EY553043</li>
              <li><span>Building Number / Building Name</span></li>
              <li><span>Secondary</span></li>
              <li><span>Street</span></li>
              <li><span>Locality</span></li>
              <li><span>Town</span></li>
              <li><span>Postcode</span>CB10 1NS</li>
              <li><span>Telephone</span></li>
              <li><span>Email</span>neilosullivansports@gmail.com</li>
              <li><span>Website</span></li>
              <li><span>Child Care Periods</span></li>
              <li><span>Daily Session Times</span></li>
              <li><span>Additional Information</span></li>
              <li><span>School Pickups</span></li>
              <li><span>Can offer 2 Yrs Funded Places</span>No</li>
              <li><span>Can offer 3 & 4 Yrs Funded Places</span>No</li>
              <li><span>Date Last Updated</span></li>
              <li><span></span></li>
            </ul>
          </li>
          <li class="meta"><span>Date Last Updated</span>15-January-2019</li>
        </ul>
      </section>
    </div>
  </div>
</main>

{% endblock %}