{% extends "essex_main_template_search_header.html" %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <li><a href="/docs/core/contents">Contents</a></li>
    <li>Essex Schools Waiting List</li>
  </ol>
</div>

<main id="content">
  <div class="container">

    <div class="main" id="schools-waiting-list">
      <section class="content">

        <h1>Essex Schools Waiting List</h1>
        <p>You can check your child's current position on the waiting list of any Essex secondary school for Year 7 for September 2019.</p>
        <p>You will need your child's student ID number. This can be found under "your ref" on the letter you received about your application. If you no longer have this letter, please call 0345 603 2200 to obtain your child's student ID.</p>
        <p>Waiting lists are updated throughout the working day, as the waiting list changes.</p>
        <form action="http://internetdev3.essexcc.gov.uk/SchoolsWaitingListsNew/" class="form" method="post">            <div class="group">
          <legend>Enter Student Details</legend>
          <label>Student ID</label>
          <input class="form-control" data-val="true" data-val-number="The field Student ID must be a number." data-val-required="The Student ID field is required." id="StudentID" name="StudentID" type="text" value="">
          <span class="field-validation-valid" data-valmsg-for="StudentID" data-valmsg-replace="true" style="color:red;font-weight:700"></span>
          <label>Student Family Name</label>
          <input class="form-control" data-val="true" data-val-required="The Student Family Name field is required." id="FamilyName" name="FamilyName" type="text" value="">
          <span class="field-validation-valid" data-valmsg-for="FamilyName" data-valmsg-replace="true"></span>
          <label>Student Postcode</label>
          <input class="form-control" data-val="true" data-val-required="The Student Postcode field is required." id="Postcode" name="Postcode" type="text" value="">
          <span class="field-validation-valid" data-valmsg-for="Postcode" data-valmsg-replace="true"></span>
        </div>
        <div class="group">
          <fieldset>
            <legend>
              <span class="form-hint">Student Date of Birth</span>
            </legend>
            <div class="group day">
              <label for="day">Day</label>
              <input class="form-control" data-val="true" data-val-required="The Day field is required." id="Day" name="Day" type="text" value="">
              <span class="field-validation-valid" data-valmsg-for="Day" data-valmsg-replace="true"></span>
            </div>
            <div class="group month">
              <label for="month">Month</label>
              <input class="form-control" data-val="true" data-val-required="The Month field is required." id="Month" name="Month" type="text" value="">
              <span class="field-validation-valid" data-valmsg-for="Month" data-valmsg-replace="true"></span>
            </div>
            <div class="group year">
              <label for="year">Year</label>
              <input class="form-control" data-val="true" data-val-required="The Year field is required." id="Year" name="Year" type="text" value="">
              <span class="field-validation-valid" data-valmsg-for="Year" data-valmsg-replace="true"></span>
            </div>

          </fieldset>
        </div>
        <input class="button button-form" type="submit" value="View Waiting List">
      </form>    </section>
    </div>



  </div>
</main>

{% endblock %}