<footer id="main-footer" class="footer-container">
  <div class="footer-top">
    <div class="footer">
      <div class="nav">
        <ul class="nav-links">
          <li><a href="#">A-Z</a></li><li>
            <a href="#">Accessibility</a></li><li>
            <a href="#">Cookies</a></li><li>
            <a href="#">Terms and conditions</a></li><li>
            <a href="#">Sitemap</a></li><li>
            <a href="#">Disclaimer</a></li><li>
            <a href="#">Privacy and data protection</a></li><li>
            <a href="#">Web statistics</a></li><li>
            <a href="/topic/contact-us">Contact us</a></li>
        </ul>
        <ul class="social">
          <li>
            <a href="#"><span class="fab fa-facebook-f"></span><span>Facebook</span></a></li><li>
            <a href="#"><span class="fab fa-twitter"></span><span>Twitter</span></a></li><li>
            <a href="#"><span class="fab fa-youtube"></span><span>Youtube</span></a></li><li>
            <a href="#"><span class="fab fa-flickr"></span><span>Flickr</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer">
      <ul class="credits">
        <li class="copyright">© Essex County Council 2019</li>
        <li class="design-link"><a href="#">Log-in</a></li>
      </ul>
    </div>
  </div>
</footer>