<div class="impact">
  <div class="hero campaign" style="background-image:url(//images.ctfassets.net/knkzaf64jx5x/6KioLW767zGkyJ7yCLKa5J/2a443437415f2673855748f5bacd7300/UiK_Web.jpg)">
    <div class="overlay"></div>
    <div class="overlay-box">
      <div class="overlay-content">
        <div class="content-heading"><a href="https://www.unitedinkind.org/?utm_medium=campaigns banner&amp;utm_campaign=united in kind&amp;utm_source=ecc website&amp;utm_content=&amp;utm_term=">United in Kind – connecting Essex communities through kindness</a></div>
        <p>Essex County Council supports United in Kind. Join us and help tackle loneliness and build stronger, friendlier and more inclusive communities. Do one kind thing today; even better do it together. #UnitedInKind </p>
      </div>
    </div>
  </div>
</div>