<nav class="pagination" aria-label="pagination">
  <ul>
    <li class="prev">
      <a href="#">
        <span class="pagination-item">
          <span class="fas fa-arrow-left"></span>Previous
        </span>
        <span>Paying for care and support</span>
      </a>
    </li>
    <li class="next">
      <a href="#">
        <span class="pagination-item">
          <span class="fas fa-arrow-right"></span>Next
        </span>
        <span>Personal budget</span>
      </a>
    </li>
  </ul>
</nav>