<div class="previews">
  <div class="preview">
    <h3 class="sub-section-heading"><a href="article">Committees</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
  </div>
  <div class="preview">
    <h3 class="sub-section-heading"><a href="#">Meetings Calendar</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="preview">
    <h3 class="sub-section-heading"><a href="#">Councillors</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
</div>
<div class="previews">
  <div class="preview">
    <h3 class="sub-section-heading"><a href="#">Public Speaking</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="preview">
    <h3 class="sub-section-heading"><a href="#">Decisions</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="preview">
    <h3 class="sub-section-heading"><a href="#">Search by Division</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
</div>
<div class="previews">
  <div class="preview">
    <h3 class="sub-section-heading"><a href="#">Elections</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="preview">
    <h3 class="sub-section-heading"><a href="#">Raise a petition</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="preview">
    <h3 class="sub-section-heading"><a href="#">Public documents</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
</div>