<div class="previews news">
    <div class="preview">
        <img src="//images.ctfassets.net/knkzaf64jx5x/5Xm6wgEV4tfUzfetmyBtzi/7b9b9a0348a504b33b563aea5fd339ed/IMG_0152.jpg" alt="Cllr Finch announces new Climate Change Commission" width="200" height="112">
      <h3 class="sub-section-heading"><a href="/news/cllr-finch-announces-new-climate-change-commission">Cllr Finch announces new Climate Change Commission</a></h3>
      <p>Find out about ECC’s plans to achieve a zero CO2 Essex</p>
      <p class="meta">
22 hours ago</p>
    </div>
    <div class="preview">
        <img src="//images.ctfassets.net/knkzaf64jx5x/3J0dn4jgsdt8Dn69R5drao/363a97104308c78a714e4a6aad8f7d61/Brexit.jpg" alt="Brexit and you" width="200" height="112">
      <h3 class="sub-section-heading"><a href="/news/brexit-and-you">Brexit and you</a></h3>
      <p>Advice for residents and businesses in Essex as the UK prepares to leave the EU</p>
      <p class="meta">
8 October 2019</p>
    </div>
    <div class="preview">
        <img src="//images.ctfassets.net/knkzaf64jx5x/5qfSIP8mSY8JVOLR3PF8sd/baab6c29e5f1210c77c70a8de12aa175/orchestras_live_2.jpg" alt="The art of building relationships" width="200" height="112">
      <h3 class="sub-section-heading"><a href="/news/the-art-of-building-relationships">The art of building relationships</a></h3>
      <p>Find out how we’re supporting care home residents through arts and culture</p>
      <p class="meta">
30 September 2019</p>
    </div>
</div>