<div class="previews">
  <div class="preview">
    <h3 class="sub-section-heading"><a href="social-care-and-health">Adult social care and health</a></h3>
    <p>Includes social care help, advice on disabilities and health conditions, paying for care and support for carers</p>
  </div>            
  <div class="preview">
    <h3 class="sub-section-heading"><a href="#">Children, young people and families</a></h3>
    <p>Find services for children and young people, including social care, children in or leaving care and health</p>
  </div>            
  <div class="preview">
    <h3 class="sub-section-heading"><a href="#">Schools and learning</a></h3>
    <p>Includes school admissions, early years and childcare, post-16 options and adult learning</p>
  </div>            
</div>
<div class="previews">
  <div class="preview">
    <h3 class="sub-section-heading"><a href="#">Jobs and apprenticeships</a></h3>
    <p>Find jobs, volunteering and apprenticeship opportunities in Essex</p>
  </div>            
  <div class="preview">
    <h3 class="sub-section-heading"><a href="#">Births, ceremonies and deaths</a></h3>
    <p>Includes weddings, civil partnerships, births and deaths, citizenship and other ceremonies</p>
  </div>            
  <div class="preview">
    <h3 class="sub-section-heading"><a href="#">Libraries</a></h3>
    <p>Renew, reserve or search for a library item.  Join the library, volunteer or search for an event.</p>
  </div>            
</div>
<div class="previews">
  <div class="preview">
    <h3 class="sub-section-heading"><a href="#">Roads, streets and transport</a></h3>
    <p>Report a highways problem, get updates on travel, transport and roadworks</p>
  </div>            
  <div class="preview">
    <h3 class="sub-section-heading"><a href="#">Planning, land and recycling</a></h3>
    <p>Includes planning applications, recycling centres and Essex Energy Switch</p>
  </div>            
  <div class="preview">
    <h3 class="sub-section-heading"><a href="#">Business</a></h3>
    <p>Includes business licences, supplying the council, trading standards and support for businesses</p>
  </div>            
</div>
<div class="previews">
  <div class="preview">
    <h3 class="sub-section-heading"><a href="#">Running the council</a></h3>
    <p>Find your councillor, Council Tax, what happens at council meetings and how the council is run</p>
  </div>            
  <div class="preview">
    <h3 class="sub-section-heading"><a href="#">Leisure, culture and local heritage</a></h3>
    <p>Includes cultural events and activities, historical records, archives and building conservation</p>
  </div>            
  <div class="preview">
    <h3 class="sub-section-heading"><a href="#">Make a payment</a></h3>
    <p>Pay social care and sundry invoices, penalty charges and licence fees</p>
  </div>
</div>