<div class="previews news">
  <div class="preview">
    <img src="/public/images/news.jpg" alt="Image description">
    <h3 class="sub-section-heading"><a href="#">Preview heading with image above</a></h3>
    <p>Preview copy explaining what content it contains.</p>
    <p class="meta">3 October 2018</p>
  </div>
  <div class="preview">
    <img src="/public/images/news.jpg" alt="Image description">
    <h3 class="sub-section-heading"><a href="#">Preview heading with image above</a></h3>
    <p>Preview copy explaining what content it contains.</p>
    <p class="meta">3 October 2018</p>
  </div>
  <div class="preview">
    <img src="/public/images/news.jpg" alt="Image description">
    <h3 class="sub-section-heading"><a href="#">Preview heading with image above</a></h3>
    <p>Preview copy explaining what content it contains.</p>
    <p class="meta">3 October 2018</p>
  </div>
</div>