<div class="previews news"> 
   <div class="preview">
    <img src="/public/images/news.jpg" alt="School happiness" width="200" height="112">
    <h3 class="sub-section-heading"><a href="/examples/news-landing">News at school</a></h3>
    <p>Preview copy explaining what content it contains.</p>  
     <p class="meta">3 October 2018</p> 
  </div>  
  <div class="preview"> 
    <img src="/public/images/news.jpg" alt="Classroom" width="200" height="112"> 
    <h3 class="sub-section-heading"><a href="#">More school news</a></h3> 
    <p>Preview copy explaining what content it contains.</p>  
    <p class="meta">3 October 2018</p>  
  </div>  
  <div class="preview"> 
    <img src="/public/images/news.jpg" alt="Study hard" width="200" height="112">  
    <h3 class="sub-section-heading"><a href="#">Different school news</a></h3>  
    <p>Preview copy explaining what content it contains.</p>  
    <p class="meta">3 October 2018</p>  
  </div>  
</div>