{% extends "care_cost_calculator_template.html" %}


{% block content %}

<main id="content">
	<div class="container">
		<div class="breadcrumbs">
			<ol>
				<li><a href="/docs/core/contents">Contents</a></li>
				<li>Care Contribution calculator with Achieve Forms markup</li>
			</ol>
		</div>


		<div id="page" class="main row render">
			<section class="content">
				<h1>Type of care</h1>

				<div class="achieveforms-container" style="border: none;">
					<div class="all-sections">
						<div class="field" data-field-name="rad_TypeOfCare" data-field-type="radio">
							<div class="fieldContent"><label for="rad_TypeOfCare" class="col-xs-11 col-sm-11  fieldName alignAbove		"><span class="_fieldName">What type of care do you need?</span><span class="mandatory"> *</span> </label>
								<div class="af-block col-xs-1 col-sm-1 "></div>
								<fieldset class="col-xs-11 col-sm-11 required alignAbove fieldInput  selectInput radio vertical error" name="rad_TypeOfCare" id="rad_TypeOfCare" data-name="rad_TypeOfCare" data-type="radio" role="radiogroup" aria-label="What type of care do you need?" class="col-xs-11 col-sm-11     required alignAbove fieldInput selectInput radio vertical  error" required="true" data-select-condition="{'dte_DateOfBirth':['dom'],'statictext5':['dom'],'num_25NoPension':['dom'],'num_25WithPension':['dom'],'statictext12':['res'],'num_ResidentialPersonalAllowanceValue':['res'],'num_SavingsCreditDisregard':['res'],'num_Age':['dom'],'num_18To24':['dom']}" data-mandatory-message="You must select a care option">
									<legend class="hidden">What type of care do you need?</legend><span class="radio-wrapper"> <input type="radio" id="rad_TypeOfCare-0-AF-Field-f0acff84-d880-4b1f-b81f-c074cb82057a-f971a1e23b" name="rad_TypeOfCare" value="dom" required="true" class="radio2 " autocomplete="off"><label class="radio-label " for="rad_TypeOfCare-0-AF-Field-f0acff84-d880-4b1f-b81f-c074cb82057a-f971a1e23b">Care at home, sometimes called non-residential or domiciliary care</label></span><span class="radio-wrapper"> <input type="radio" id="rad_TypeOfCare-1-AF-Field-f0acff84-d880-4b1f-b81f-c074cb82057a-f971a1e23b" name="rad_TypeOfCare" value="res" required="true" class="radio2 " autocomplete="off"><label class="radio-label " for="rad_TypeOfCare-1-AF-Field-f0acff84-d880-4b1f-b81f-c074cb82057a-f971a1e23b">Care in a residential or nursing home</label></span>
								</fieldset>
								<div class="screen-reader-error" aria-live="polite" aria-atomic="true"></div>
							</div>
						</div>
					</div>
					<div class="fillinButtons-wrapper col-xs-11 col-sm-ll">
						<div class="fillinButtons">
<!-- 							<button class="btn btn-af cancelbutton pull-left">
								<i class="fa fa-times"></i>
								<span class="cancelText">Cancel</span>
							</button>
							<button class="btn btn-af pull-right submitbutton">
								<span class="submitText">Submit</span>
								<i class="fa fa-check"></i>
							</button> -->
							<button class="btn btn-af pull-right nextbutton">
								<span class="submitText">Continue</span>
								<i class="fa fa-chevron-right"></i>
							</button>							
						</div>
					</div>
				</div>

			</section>
		</div>
	</div>
</main>

{% endblock %}
