// http://silktide.com/cookieconsent

// button

a.cc-btn {
  @include button;
  background-color: $white !important;
  border-color: $black !important;
  color: $black !important;
  &:hover {
    background-color: $white !important;
    border-color: $grey-dark !important;
    color: $grey-dark !important;
  }
  &:focus {
    outline: $border-thick solid $focus-colour !important;
  }
}

// banner 

.cc-banner, .cc-revoke, .cc-window {
  // float: left !important;
  display: block !important;
  box-sizing: content-box !important;
  opacity: 1;
  transition: opacity 0s ease !important;
  z-index: 50 !important;
  @include media(mobile) {
    padding: $baseline*0.5 $gutter !important;
    position: relative !important;
  }
  @include media(tablet) {
    padding: $baseline*0.75 $gutter !important;
  }
  @include media(desktop) {
    padding: $baseline*0.75 $gutter*2 !important;
  }
  margin-left: auto !important;
  margin-right: auto !important;
  position: relative !important;
  background-color: $white !important;
  color: $body-text-colour !important;
  width: auto !important;
  max-width: $site-width !important;
  .cc-message {
    flex: none !important;
    float: left !important;
    margin-right: $gutter !important;
    width: auto !important;
    @include media(mobile) {
      @include smaller;
      line-height: 1.6153846rem !important;
      margin-bottom: $baseline*0.25 !important;
    }
    @include media(tablet) {
      line-height: $baseline !important;
      margin-bottom: $baseline*0.75 !important;
    }
    @include media(tablet) {
      line-height: $baseline*1.5 !important;
      margin-bottom: 0 !important;
    }
  }
  .cc-link {
    color: $link !important;
    text-decoration: underline !important;
    opacity: 1 !important;
    padding: 0 !important;
    &:hover {
      color: $hover !important;
      text-decoration: underline !important;
    }
    &:focus {
      color: $black !important;
      outline: $border-thick solid $focus-colour !important;
    }
  }
  &.cc-invisible {
    display: none;
  }
}

.cc-compliance {
  display: inline-block !important;
}