// Link box (used on topic pages)

ul.link-boxes {
  // display: inline-block;
  // padding-left: 0;
  list-style: none;
  // margin: 0;
}

.link-boxes {
  @extend %site-width-container;
  @extend %grid-row;
  .link-box {
    @include grid-column(4 / 12);
    margin-bottom: $baseline;
    .link-content {
      border-bottom: solid $border-thin $grey-dark;
      .section-heading {
      }
    }
  }
}
