.signup {
  @media print {
    display: none;
  }
  .section-heading, p {
    @include grid-column(1);
    @extend %grid-row;
  }
  .form {
    @extend %grid-row;
    margin-bottom: $baseline*0.5;
    .group {
      margin-bottom: 0;
      label {
        $color: $body-text-colour;
        z-index: 0;
        margin-right: 0;
      }
      .signup-input {
        position: relative;
        @include grid-column(8 / 12);
        @include media(mobile) {
          margin-bottom: $baseline;
        }
        label, input {
          @include box-sizing(border-box);
          padding: $baseline*0.5;
          font-size: ms(1);
          line-height: $baseline;
        }
        label {
          margin-top: 0;
          margin-bottom: 0;
        }
        input {
          text-transform: none;
          position: absolute;
          top: 0;
          height: $form-height;
          width: calc(100% - #{$gutter*2});
          @include media(mobile) {
            left: $gutter*0.5;
            width: calc(100% - #{$gutter});
            &:focus {
              left: $gutter*0.5;
              width: calc(100% - #{$gutter});
            }
          }
        }
        input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0px 1000px $white inset;
        }
      }
      .signup-button {
        @include grid-column(4 / 12);
        input.button.subscribe {
          @include more;
          border: $border-normal $brand solid;
          &:hover {
            border: $border-normal $brand-hover-darken solid;
            color: $white;
            background-color: $brand-hover-darken;
          }                    
        }
      }
    }
  }
}

.signup-background {
  background-color: $brand;
  .signup {
    @extend %site-width-container;
    @extend %contain-floats;
    padding-top: $baseline;
    padding-bottom: $baseline;
    @include media(mobile) {
      padding-top: $baseline;
      padding-bottom: $baseline;
    }
    .section-heading {
      @include media(desktop) {
        font-size: ms(5);
        font-weight: $bold;
        line-height: $baseline*1.5;
        font-weight: 400;
      }
    }
    .section-heading, p {
      color: $white;
      margin-top: 0;
    }
    .form {
      .group {
        .signup-input {
          input {
            border: none;
            &:focus {
              outline-offset: 0;
            }
          }
        }
        .signup-button {
          input.button.subscribe {
            color: $white;
            background-color: transparent;
            border: $border-normal $white solid;
            @include media(mobile) {
              margin-bottom: 0;
            }
            &:hover {
              color: $brand;
              background-color: $white;
            }
          }
        }
      }
    }
    .social {
      text-align: left;
      margin-top: 0;
      margin-bottom: 0;
      li {
        padding: 0 $gutter*0.05 0 $gutter*0.05;
        a {
          color: $white;
          &:hover {
            color: $white-on-black-hover;
          }
        }
      }
    }
  }
}