.step-by-step {
	overflow: hidden;
	label.show, label.hide {
		@include smaller;
	  &:visited {
	    color: $visited;
	  }

	  &:hover {
	    color: $hover;
	    text-decoration: underline;
	  }

	  &:active {
	    color: $active;
	  }
	}
	.step {
		float: left;
		width: 100%;
		position: relative;
		.step-number {
			float: left;
			width: $gutter*2;
			.section-heading {
				margin-bottom: 0;
			}
			span.number {
				display: block;
				border: $border-thick solid $grey-light;
				font-size: ms(1);
				background: $white;
				border-radius: 100%;
				text-align: center;
				height: $gutter;
				width: $gutter;
				margin-top: $baseline*1.4;
			  @include media(mobile) {
			    margin-top: $baseline;
			  }
		    &.and {
		    	border: none;
		    	width: 100%;
		    	margin-left: -10px;
		    }
			}
			span.step-link {
				border-left: $border-thick solid $grey-light;
		    height: 100%;
		    display: block;
		    position: absolute;
		    left: 17px;
		  }
		}
		&:last-child {
			.step-number:after {
	    	content: " ";
	    	border-bottom: $border-thick solid $grey-light;
	    	position: absolute;
	    	left: 8px;
	    	bottom: 0;
	    	width: 21px;
	    }
    }
		.toggle {
			float: left;
			width: calc(100% - #{$gutter*2});
			label {
				color: $brand;
			}
			.section-heading {
				margin-bottom: 0;
				@include media(mobile) {
			    margin-top: $baseline;
			    margin-bottom: 0;
			  }
			}
		}
		&.active {
			.step-number span.step-link {
				border-color: $black;
			}
		}
		.preview-list ul {
			list-style-type: disc;
		  @include media(mobile) {
		    font-size: ms(-1);
		  }
		  list-style-position: outside;
		  padding-left:10px;
		  margin-left: 20px;
		  margin-top: $baseline;
		  margin-bottom: $baseline;
		  li {
		    padding-left: 10px;
		    margin-bottom: 0;
		    line-height: $baseline;
		    a {
		    	font-weight: $regular;
		    }
		  }
		  &.no-bullets li {
		    list-style: none;
		  }
		}
	}
}