{% extends "care_cost_calculator_template.html" %}


{% block content %}

<main id="content">
	<div class="container">
		<nav class="breadcrumbs" aria-label="breadcrumbs">
			<ol>
				<li><a href="/docs/core/contents">Contents</a></li>
				<li>Care Contribution calculator</li>
			</ol>
		</nav>


		<div id="page" class="row render">
			<section class="content">
				<section class="achieveforms-container render col-xs-12 col-sm-12" data-category-id="AF-Category-9f573cda-96c9-4570-96c6-e0ae1f5bba6a" data-form-id="AF-Form-bdc4618e-083d-49f2-a60a-58b8c7ad6116" style="display: block;">
					<span data-name="statictext6" data-type="staticText" class="col-xs-11 col-sm-11 fieldInput content staticText non-input "><h1>Your home</h1></span>
					<div class="form-error-wrapper AF-Form-bdc4618e-083d-49f2-a60a-58b8c7ad6116 col-xs-11 col-sm-11"></div>
					<header class="formHeader render row af-row">
						<h1 class="formName"><span class="_formName">Care contribution calculator</span></h1>
						<p class="formDescription"><span class="_formDescription"></span></p>
					</header>
					<form action="/yourHome" class="achieveform row af-row" method="post" enctype="multipart/form-data" id="AF-Form-bdc4618e-083d-49f2-a60a-58b8c7ad6116" data-name="Care contribution calculator" data-uri="" data-id="AF-Form-bdc4618e-083d-49f2-a60a-58b8c7ad6116" data-must-be-valid="" data-submission-api="/form/submit/" data-section-length="9" title="">
						<section class="sectionsHead navbar-default render ">
							<div class="sections-toggle-wrapper visible-xs"><span class="active-section-name">Your home</span>
								<button type="button" class="navbar-toggle sections-toggle" data-toggle="collapse" data-target=".sectionsHeadInner.sections-head-AF-Form-bdc4618e-083d-49f2-a60a-58b8c7ad6116"><i class="fa fa-caret-down"></i></button>
							</div>
							<ul class="nav nav-tabs sectionsHeadInner collapse sections-head-AF-Form-bdc4618e-083d-49f2-a60a-58b8c7ad6116">
								<li data-name="Type of care" class="sectionNameWrapper valid"><a data-url="Type-of-care.html" class="sectionNameTab ">Type of care</a></li>
								<li data-name="Your home" class="sectionNameWrapper active invalid"><a data-url="Your-home.html" class="sectionNameTab conditional " data-display-condition="{rad_TypeOfCare} icontains &#39;res&#39;">Your home</a></li>
								<li data-name="Savings and investments" class="sectionNameWrapper" style="opacity: 1;"></li>
								<li data-name="Pensions" class="sectionNameWrapper"></li>
								<li data-name="Rental income" class="sectionNameWrapper"></li>
								<li data-name="Benefits" class="sectionNameWrapper"></li>
								<li data-name="Other income" class="sectionNameWrapper"></li>
								<li data-name="Personal allowance" class="sectionNameWrapper"></li>
								<li data-name="Results" class="sectionNameWrapper"></li>
							</ul>
						</section>
						<section class="all-sections col-xs-12 AF-col-xs-fluid col-sm-12">
							<section class="fields render" data-section-name="Your home " aria-label="Your home">
								<div class="section-name-hidden" tabindex="0">Your home</div>
								<div class="field" data-field-name="rad_ResOwnTheHome" data-field-type="radio">
									<div class="fieldContent">
										<label for="rad_ResOwnTheHome" class="col-xs-11 col-sm-4   fieldName alignLeft		"><span class="_fieldName">Do you own the home that you live in?</span><span class="mandatory"> *</span> </label>
										<div class="af-block col-xs-1 col-sm-1 hidden-sm hidden-md hidden-lg"></div>
										<fieldset name="rad_ResOwnTheHome" id="rad_ResOwnTheHome" data-name="rad_ResOwnTheHome" data-type="radio" role="radiogroup" aria-label="Do you own the home that you live in?" class="col-xs-11 col-sm-7     required alignLeft fieldInput selectInput radio horizontal valid" required="true" data-select-condition="{&#39;statictext9&#39;:[&#39;yes&#39;]}" data-mandatory-message="This field is required">
											<legend class="hidden">Do you own the home that you live in?</legend><span class="radio-wrapper">	<input type="radio" id="rad_ResOwnTheHome-0-AF-Field-2d8ab6f6-b11e-4cdb-b3ba-c5d2c4d1e2ef-ed99ae2a98" name="rad_ResOwnTheHome" value="yes" required="true" class="radio2 " autocomplete="off"><label class="radio-label " for="rad_ResOwnTheHome-0-AF-Field-2d8ab6f6-b11e-4cdb-b3ba-c5d2c4d1e2ef-ed99ae2a98">Yes</label></span><span class="radio-wrapper">	<input type="radio" id="rad_ResOwnTheHome-1-AF-Field-2d8ab6f6-b11e-4cdb-b3ba-c5d2c4d1e2ef-ed99ae2a98" name="rad_ResOwnTheHome" value="no" required="true" class="radio2 " autocomplete="off"><label class="radio-label " for="rad_ResOwnTheHome-1-AF-Field-2d8ab6f6-b11e-4cdb-b3ba-c5d2c4d1e2ef-ed99ae2a98">No</label></span></fieldset>
											<div class="screen-reader-error" aria-live="polite" aria-atomic="true"></div><i class="icon-valid fa fa-check " title="Field is valid"><span class="sr-only">Field is valid</span></i></div>
										</div>
										<div class="field show-hide" data-field-name="statictext9" data-field-type="staticText" style="display: block; opacity: 1;">
											<div class="fieldContent"> <span data-name="statictext9" data-type="staticText" class="col-xs-11 col-sm-11 fieldInput content staticText non-input "><p>The financial assessment rules are different if you own your own home and are in, or about to go into residential care.</p>
												<p>Your home may be included as part of the calculation.</p>
												<p>Therefore, we are unable to give you an estimate of your care contribution through this calculator.</p>
												<p><strong>What next?</strong></p>
												<p>If you are about to have, or have already had a needs assessment with a social worker then a full financial assessment will be the next step.</p></span>
												<div class="screen-reader-error" aria-live="polite" aria-atomic="true"></div>
											</div>
										</div>
									</section>
								</section>
								<br class="clear">
								<div class="fillinButtons-wrapper col-xs-11 col-sm-11">
									<div class="fillinButtons">
										<button class="btn btn-af previousbutton pull-left" type="button"><i class="fa fa-chevron-left"></i> <span class="previousText">Previous</span></button>
										<button class="btn btn-af cancelbutton pull-left" type="button" style="display: none;"><i class="fa fa-times"></i><span class="cancelText">Cancel</span></button>
										<button class="btn btn-af pull-right submitbutton" type="sumit"><i class="fa fa-check"></i><span class="submitText">Submit</span></button>
									</div>
								</div>
							</form>
						</section>

					</section>
				</div>
			</div>
		</main>

		{% endblock %}
