<div class="form">
  <div class="group">
    <fieldset>
      <legend>Ask your question?</legend>
      <div class="multiple-choice">
        <input id="telephone" name="checkbox" type="checkbox" value="Telephone">
        <label for="telephone">Telephone</label>
      </div>
      <div class="multiple-choice">
        <input id="email" name="checkbox" type="checkbox" value="Email">
        <label for="email">Email</label>
      </div>
      <div class="multiple-choice">
        <input id="post" name="checkbox" type="checkbox" value="Post">
        <label for="post">Post</label>
      </div>
      <div class="panel js-hidden" id="checkbox-selection">
          This panel is shown if selecting last checkbox
      </div>
    </fieldset>
  </div>
</div>