{% extends "essex_topic_template.html" %}

{% block content %}

<div class="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="examples/topic">Step by step</a></li>
    <li><a href="#">Step by Step example</a></li>
  </ol>
</div>

<main id="content">
  <div class="container">
    <div class="main">
      <section class="intro">
        <h1 class="heading-large">
          Step by step
        </h1>
        <p>
          Here is some intro text for the step by step process.
        </p>
      </section>

      <section class="content">

        <div class="step-by-step">
          <div class="step">
            <div class="step-number">
              <span class="section-heading number">1</span>
              <span class="step-link"></span>
            </div>
            <div class="toggle">
              <div data-target="tab-one">
                <h3 class="section-heading">Get help yourself</h3>
                <input class="checkbox" id="toggle-one" type="checkbox">
                <label class="show" for="toggle-one">Show</label>
                <label class="hide" for="toggle-one">Hide</label>
              </div>
              <div class="js-hidden preview-list" id="tab-one">
              <p>There are lots of ways you can help and support yourself with day-to-day living. You can:
</p>
                <ul>
                  <li><a href="#">talk to family and friends</a></li>
                  <li>visit a doctor – go to the <a href="https://www.nhs.uk/using-the-nhs/nhs-services/gps/">NHS website</a> to find out how</li>
                  <li><a href="https://www.essex.gov.uk/walking-and-mobility/mobility-aids">find walking and mobility aids</a></li>
                  <li><a href="https://www.essex.gov.uk/help-with-meals-and-shopping">get help with meals and shopping</a></li>
                  <li><a href="https://www.essex.gov.uk/adapt-your-home-to-work-for-you">adapt your home to work for you</a></li>
                  <li><a href="https://www.essex.gov.uk/technology-for-independent-living/buy-your-own-alarms-sensors-and-monitors">use technology, like alarms and monitors,</a> to keep you safe</li>
                  <li><a href="https://www.ageuk.org.uk/essex/activities-and-events/">join a club or support group</a></li>
                </ul>
                <p>If you are looking after someone, see our <a href="https://www.essex.gov.uk/topic/support-for-carers">support for carers.</a></p>
              </div>
            </div>
          </div>

          <div class="step">
            <div class="step-number">
              <span class="section-heading number">2</span>
              <span class="step-link"></span>
            </div>
            <div class="toggle">
              <div data-target="tab-two">
                <h3 class="section-heading">Step</h3>
                <input class="checkbox" id="toggle-two" type="checkbox">
                <label class="show" for="toggle-two">Show</label>
                <label class="hide" for="toggle-two">Hide</label>
              </div>
              <div class="js-hidden preview-list" id="tab-two">
                <ul>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="step">
            <div class="step-number">
              <span class="section-heading number">3</span>
              <span class="step-link"></span>
            </div>
            <div class="toggle">
              <div data-target="tab-three">
                <h3 class="section-heading">Step</h3>
                <input class="checkbox" id="toggle-three" type="checkbox">
                <label class="show" for="toggle-three">Show</label>
                <label class="hide" for="toggle-three">Hide</label>
              </div>
              <div class="js-hidden preview-list" id="tab-three">
                <ul>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p></li>
                </ul>
              </div>
            </div>
          </div>


          <div class="step active">
            <div class="step-number">
              <span class="section-heading number and">and</span>
              <span class="step-link"></span>
            </div>
            <div class="toggle">
              <div data-target="tab-four">
                <h3 class="section-heading">Step (showing active step)</h3>
                <input class="checkbox" id="toggle-four" type="checkbox">
                <label class="show" for="toggle-four">Show</label>
                <label class="hide" for="toggle-four">Hide</label>
              </div>
              <div class="js-hidden preview-list" id="tab-four">
                <ul>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="step">
            <div class="step-number">
              <span class="section-heading number">4</span>
              <span class="step-link"></span>
            </div>
            <div class="toggle">
              <div data-target="tab-five">
                <h3 class="section-heading">Step</h3>
                <input class="checkbox" id="toggle-five" type="checkbox">
                <label class="show" for="toggle-five">Show</label>
                <label class="hide" for="toggle-five">Hide</label>
              </div>
              <div class="js-hidden preview-list" id="tab-five">
                <ul>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="step">
            <div class="step-number">
              <span class="section-heading number">5</span>
              <span class="step-link"></span>
            </div>
            <div class="toggle">
              <div data-target="tab-six">
                <h3 class="section-heading">Step</h3>
                <input class="checkbox" id="toggle-six" type="checkbox">
                <label class="show" for="toggle-six">Show</label>
                <label class="hide" for="toggle-six">Hide</label>
              </div>
              <div class="js-hidden preview-list" id="tab-six">
                <ul>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="step">
            <div class="step-number">
              <span class="section-heading number">6</span>
              <span class="step-link"></span>
            </div>
            <div class="toggle">
              <div data-target="tab-seven">
                <h3 class="section-heading">Step</h3>
                <input class="checkbox" id="toggle-seven" type="checkbox">
                <label class="show" for="toggle-seven">Show</label>
                <label class="hide" for="toggle-seven">Hide</label>
              </div>
              <div class="js-hidden preview-list" id="tab-seven">
                <ul>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                  <li><a href="#">Lorem ipsum dolor sit amet.</a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </div>
</main>

{% endblock %}
