{% extends "essex_topic_template.html" %}

{% block content %}

<div class="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="examples/topic">Step by step</a></li>
    <li><a href="#">Step by Step example</a></li>
  </ol>
</div>

<main id="content">
  <div class="container">
    <div class="main">
      <section class="intro">
        <h1 class="heading-large">
          Adult social care: step by step
        </h1>
        <p>
          Adult social care is the support given to people with an illness 
          or disability and their carers who need care and support to help them manage everyday tasks and stay independent. It is usually paid for.
        </p>
      </section>

      <section class="content">

        <div class="step-by-step">
          <div class="step">
            <div class="step-number">
              <span class="section-heading number">1</span>
              <span class="step-link"></span>
            </div>
            <div class="toggle">
              <div data-target="tab-one">
                <h3 class="section-heading">Get help yourself</h3>
                <input class="checkbox" id="toggle-one" type="checkbox">
                <label class="show" for="toggle-one">Show</label>
                <label class="hide" for="toggle-one">Hide</label>
              </div>
              <div class="js-hidden preview-list" id="tab-one">
              <p>There are lots of ways you can get help and support yourself with day-to-day living. You can:
</p>
                <ul>
                  <li><a href="#">talk to family and friends</a></li>
                  <li>visit a doctor – go to the <a href="https://www.nhs.uk/using-the-nhs/nhs-services/gps/">NHS website</a> to find out how</li>
                  <li><a href="https://www.essex.gov.uk/walking-and-mobility/mobility-aids">find walking and mobility aids</a></li>
                  <li><a href="https://www.essex.gov.uk/help-with-meals-and-shopping">get help with meals and shopping</a></li>
                  <li><a href="https://www.essex.gov.uk/adapt-your-home-to-work-for-you">adapt your home to work for you</a></li>
                  <li><a href="https://www.essex.gov.uk/technology-for-independent-living/buy-your-own-alarms-sensors-and-monitors">use technology, like alarms and monitors,</a> to keep you safe</li>
                  <li><a href="https://www.ageuk.org.uk/essex/activities-and-events/">join a club or support group</a></li>
                </ul>
                <p>If you are looking after someone, see our <a href="https://www.essex.gov.uk/topic/support-for-carers">support for carers.</a></p>
              </div>
            </div>
          </div>

          <div class="step">
            <div class="step-number">
              <span class="section-heading number">2</span>
              <span class="step-link"></span>
            </div>
            <div class="toggle">
              <div data-target="tab-two">
                <h3 class="section-heading">Contact Adult Social Care</h3>
                <input class="checkbox" id="toggle-two" type="checkbox">
                <label class="show" for="toggle-two">Show</label>
                <label class="hide" for="toggle-two">Hide</label>
              </div>
              <div class="js-hidden preview-list" id="tab-two">
                <p>The first thing you need to do is to have a conversation with adult social care about your needs and what could help you manage 
                  everyday tasks.</p>
                <p>They will ask you about what’s important to you, what you can manage yourself, what additional support you may need and how you’re 
                  feeling about things.</p> 
                <p>They will agree an action plan with you to help you achieve the outcomes that are important to you.</p>
                <h4>Call Adult Social Care</h4>
                <p>Telephone: 0345 603 7630<br/>Textphone: 0345 758 5592</p>
              </div>
            </div>
          </div>

          <div class="step">
            <div class="step-number">
              <span class="section-heading number">3</span>
              <span class="step-link"></span>
            </div>
            <div class="toggle">
              <div data-target="tab-three">
                <h3 class="section-heading">An assessment to see if you might be eligible for support</h3>
                <input class="checkbox" id="toggle-three" type="checkbox">
                <label class="show" for="toggle-three">Show</label>
                <label class="hide" for="toggle-three">Hide</label>
              </div>
              <div class="js-hidden preview-list" id="tab-three">
                <p>A care needs assessment is a more detailed conversation of your care and support with a social worker or occupational therapist.
                  It will identify your eligible needs and what support you could get.</p>
                <p>You can have someone with you during the assessment. This could be your family,  friends, carer or an 
                  <a href="https://essex.gov.uk/advocacy">advocate to speak on your behalf</a>.</p>
                <p>Your carer is also entitled to a <a href="https://www.essex.gov.uk/request-carers-assessment">carer’s assessment</a>.</p>
                <p></p>
                </ul>
              </div>
            </div>
          </div>


          <div class="step">
            <div class="step-number">
              <span class="section-heading number and">and</span>
              <span class="step-link"></span>
            </div>
            <div class="toggle">
              <div data-target="tab-four">
                <h3 class="section-heading">Costs of social care</h3>
                <input class="checkbox" id="toggle-four" type="checkbox">
                <label class="show" for="toggle-four">Show</label>
                <label class="hide" for="toggle-four">Hide</label>
              </div>
              <div class="js-hidden preview-list" id="tab-four">
             <p>Most people have to pay something towards their care and support.</p>
                <p>How much you will be asked to pay depends on your income and assets.</p>
                <p>See our guidance on <a href="https://www.essex.gov.uk/topic/paying-for-care-and-support">paying for care and support</a>.</p>
              </div>
            </div>
          </div>

          <div class="step">
            <div class="step-number">
              <span class="section-heading number">4</span>
              <span class="step-link"></span>
            </div>
            <div class="toggle">
              <div data-target="tab-five">
                <h3 class="section-heading">Care and support planning</h3>
                <input class="checkbox" id="toggle-five" type="checkbox">
                <label class="show" for="toggle-five">Show</label>
                <label class="hide" for="toggle-five">Hide</label>
              </div>
              <div class="js-hidden preview-list" id="tab-five">
               <p>Following your assessment and agreement of your eligible needs, you will receive a care and support plan that will 
                 detail your identfied needs and how they will be met. It will include:</p> 
              <ul>
                  <li>what your desired outcomes are</li>
                  <li>which outcomes are eligible for Adult Social Care support</li>
                  <li>What your personal budget is and how it's going to be spent</li>
                <p>Age UK has guidance on <a href="https://www.ageuk.org.uk/information-advice/care/arranging-care/">finding and arranging social care</a>.</p>
                <p>Disability Rights UK has guidance on <a href="https://www.disabilityrightsuk.org/assessment-eligibility-and-support-planning">care needs assessments and support planning.</a></p>
                <p>See <a href="https://www.essex.gov.uk/topic/support-for-carers">Support for carers</a> to find out what help is available for carers.</p>
                </ul>
              </div>
            </div>
          </div>

          <div class="step">
            <div class="step-number">
              <span class="section-heading number">5</span>
              <span class="step-link"></span>
            </div>
            <div class="toggle">
              <div data-target="tab-six">
                <h3 class="section-heading">Regular review of care needs</h3>
                <input class="checkbox" id="toggle-six" type="checkbox">
                <label class="show" for="toggle-six">Show</label>
                <label class="hide" for="toggle-six">Hide</label>
              </div>
              <div class="js-hidden preview-list" id="tab-six">
                <p>Over time people’s care needs change so there might be changes in care and support.</p>
                <p>We will review your support plan to make sure it's still meeting your needs.</p>
                <p>Let us know if your <a href"https://www.essex.gov.uk/financial-assessment/changes-to-circumstances">care needs or your circumstances have changed</a> as this may affect your care and support plan. 
                <p>See our guidance on <a href="https://www.essex.gov.uk/advocacy">advocacy</a> if you need someone to speak on your behalf.</p>
                </ul>
              </div>
            </div>
          </div>
          


      </section>
    </div>
  </div>
</main>

{% endblock %}
