/*
 * This stylesheet is intended to provide the CSS rules necessary for page layout elements when rendered in edit mode.
 */

.ecc_field_container
{
    background-color: #f0f0f0;
    /*border: 2px inset #f0f0f0;*/
    font-size: 0.8em;
}

.ecc_contact_selector
{
}

/* key contacts selection list */
.ecc_contact_selector .ecc_table_wrapper
{
    height: 300px;
    overflow: auto;
}


.ecc_contact_selector table
{
    line-height: 1em;
}

.ecc_contact_selector label
{
    position: static;
    width: auto;
    font-weight: normal;
    text-align:left;
    display: inline;
    float: none;
}

#Ribbon *
{
	line-height: 1.0em !important;
}
.ms-rte-wpbox li
{
	background-image: none !important;
}

.ms-dlgContent input
{
	line-height: 1.0em;
	vertical-align: bottom;
}
.ms-dlgFrameContainer div
{
	margin-bottom: 0 !important;
}
