#servmetric_frame .servmetric_content .servmetric_header .servmetric_close A, .nav_back:hover {
    background-color: #17646f;
}

#modal {
    background-image: none !important;
}

#servmetric_overlay {
    background: rgba(0, 0, 0, 0) url("/imgs/background.png") repeat;
    bottom: 0;
    color: #333;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000001;
}

#servmetric_frame {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    left: 0;
    line-height: 1.42857;
    position: absolute;
    right: 0;
    text-align: center;
    top: 5%;
    z-index: 10000002;


    /*-moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);*/
}

    #servmetric_frame .servmetric_content {
        border: medium none;
        margin: 15px auto 0;
        max-width: 768px;
        min-height: 50%;
        text-align: left;
        width: 90%; /*overflow-y: scroll !important;*/
    }

        #servmetric_frame .servmetric_content IFRAME.servmetric_iframe {
            background-color: transparent;
            border: 0 none;
            min-height: 760px;
            width: 100%;
        }

        #servmetric_frame .servmetric_content .servmetric_header .servmetric_altlink {
            height: 1px;
            left: -10000px;
            overflow: hidden;
            position: absolute;
            top: auto;
            width: 1px;
        }

@media (max-width: 768px) {
    #servmetric_frame {
        position: absolute !important;
        top: 20px;
    }

        #servmetric_frame .servmetric_content {
            margin-top: 15px;
        }
}

@media (max-width: 470px) {
    #servmetric_frame {
        position: absolute !important;
        top: 10px;
    }

        #servmetric_frame .servmetric_content {
            margin-top: .6em;
            margin: 15px 1em 0;
            width: auto;
        }
}
