.nav {
	border-bottom: 10px solid #d00f42 !important;
}

.nav .resTab a, .nav .resTab a:link, .nav .resTab a:visited {
	background-color: #d00f42; /* Red for residents */
	color: #fff;
	height: 47px;
	line-height: 48px;
	margin-top: 0;
	padding: 0 34px;
	text-decoration: none;
}