{% extends "essex_topic_template.html" %}

{% block content %}

<nav class="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="#">Social care and health</a></li>
  </ol>
</nav>

<main id="content">
  <div class="container">
    <div class="main only">
      <section class="content">
        <h1 class="page-heading">Social care and health</h1>
        <div class="previews">
          <div class="preview">
            <h2 class="h3">Children, young people and family care</h2>
            <p>Includes support for families, children in care, adoption and fostering and youth offending</p>
            <a href="">Read more</a>
          </div>
          <div class="preview">
            <h2 class="h3">Adult social care and health</h2>
            <p>Includes health, disability, dementia, paying for care and support for carers</p>
            <a href="">Read more</a>
          </div>
          <div class="preview">
            <h2 class="h3">Advocacy</h2>
            <p>Find out why you may need an advocate, and whom to contact for advocacy services in Essex</p>
            <a href="">Read more</a>
          </div>
        </div>
        <h2 class="content-heading">More</h2>
        <div class="preview-list">
          <ul>
            <li>
                <a href="#">Support for carers</a>
                <p>Information, support and guidance for people who look after someone</p>
            </li>
            <li>
                <a href="#">Accessible transport and mobility</a>
                <p>Includes Blue Badge, disabled parking bays, mobilty aids and accessible transport</p>
            </li>
            <li>
                <a href="#">Advocacy</a>
                <p>Find out why you may need an advocate, and whom to contact for advocacy services in Essex</p>
            </li>
            <li>
                <a href="#">Autism</a>
                <p>Information to people of all ages affected by autism, either for themselves, a family member or a friend.</p>
            </li>
          </ul>
        </div>
      </section>

    </div>
  </div>
</main>

{% endblock %}
