<!DOCTYPE html>
<html lang="en-GB" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="essex.gov.uk - The place to find services and information provided by Essex County Council and its partners.">
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="images/favicon/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="images/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/favicon/favicon-128.png" sizes="128x128">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="images/mstile-144x144.png">
    <meta name="msapplication-square70x70logo" content="images/mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="images/mstile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="images/mstile-310x150.png">
    <meta name="msapplication-square310x310logo" content="images/mstile-310x310.png">
    <title>Welcome to Essex County Council</title>
    <meta property="og:title" content="Welcome to Essex County Council">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/essex.css">
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script src="javascript/cookieconsent.js"></script>
    <script src="javascript/close.js"></script>
    <script>
      window.addEventListener("load", function(){
        window.cookieconsent.initialise({
          content: {
            message: "This website uses cookies to ensure you get the best experience on our website.",
            href: "/cookies",
            dismiss: "Accept cookies"
          },
          position: "top"
        })
      });
    </script>
    <!-- End Cookie Consent plugin -->
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
          'gtm.start':
              new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
              'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-MR469XX');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Hotjar Tracking Code for https://www.essex.gov.uk/Pages/Default.aspx -->
    <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 719326, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
      })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
  </head>
  <body class="static">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
    <iframe title="Google Tag Manager" src="https://www.googletagmanager.com/ns.html?id=GTM-MR469XX" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <div id="skiplink-container" role="region" aria-label="skiplink">
      <div>
        <a href="#content" class="skiplink" id="skiplink">Skip to main content</a>
      </div>
    </div>
    <header class="header-background">
      <div class="header">
        <div class="nav">
          <div class="logo-wrap">
            <a href="/" class="logo-text seax">
              <img src="images/seax.png" width="36" height="30" alt="Essex County Council logo">
              Essex.gov.uk
            </a>
          </div>
        </div>
      </div>
    </header>
<!-- changes here -->
    <main id="content">
      <div class="container">
        <div class="alert error" id="tab-one">
          <div class="alert-icon">
            <span class="fas fa-exclamation-circle"></span>
          </div>
          <div class="alert-text">
            <div class="section-heading">We are experiencing some issues</div>
            <p>You may experience some issues with our website. Please bare with us while we resolve the issue.</a></p>
          </div>
          <button class="text" type="button" onclick="toggle_visibility('tab-one');">Hide this message</button>
        </div>        
        <div class="main only">
          <section class="content" aria-label="Essex County Council Services">
            <h1 class="page-heading">Lorem ipsum dolor sit amet</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <ul>
              <li><a href="#">Lorem</a></li>
              <li><a href="#">ipsum dolor sit</a></li>
              <li><a href="#">amet</a></li>
              <li><a href="#">consectetur adipisicing</a></li>
              <li><a href="#">elit, sed</a></li>
              <li><a href="#">do eiusmod tempor</a></li>                            
            </ul>
            <div class="inset">
              <div class="section-heading">Lorem ipsum dolor sit amet</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
            <h2>Lorem ipsum dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h3>Lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>            
            <a href="javascript:window.print()" class="print-link">Print this page</a>
          </section>
        </div>
      </div>
    </main>
    <footer id="main-footer" class="footer-container">
      <div class="footer-top">
        <div class="footer">
          <div class="nav">
            <ul class="nav-links">
              <li><a href="https://www.essex.gov.uk/topic/about-essexgovuk">About essex.gov.uk</a></li><li>
                <a href="https://www.essex.gov.uk/accessibility">Accessibility</a></li><li>
                <a href="https://www.essex.gov.uk/cookies">Cookies</a></li><li>
                <a href="https://www.essex.gov.uk/terms-conditions">Terms and conditions</a></li><li>
                <a href="https://www.essex.gov.uk/privacy-and-data-protection">Privacy and data protection</a></li><li>
                <a href="/topic/contact-us">Contact us</a></li>
            </ul>
            <ul class="social">
              <li>
                <a href="https://www.facebook.com/essexcountycouncil"><span class="fab fa-facebook-f"></span><span>Facebook</span></a></li><li>
                <a href="https://twitter.com/essex_cc"><span class="fab fa-twitter"></span><span>Twitter</span></a></li><li>
                <a href="http://www.youtube.com/user/EssexCountyCouncil"><span class="fab fa-youtube"></span><span>Youtube</span></a></li><li>
                <a href="https://www.flickr.com/photos/essexcc/"><span class="fab fa-flickr"></span><span>Flickr</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer">
          <ul class="credits">
            <li class="copyright">© Essex County Council 2019</li>
            <li class="design-link"><a href="https://servicedesign.blog.essex.gov.uk/">Built by the Service Design Team</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>