.date-from, .date-to {
	width: 40%;
  @include media(mobile) {
    width: 100%;
  }
	#from-date, #to-date {
		width: 100%;
	}
}
ul.search-results {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  li {
    padding-left: 0;
  }
}

ul.data {
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  .h4 {
    margin-top: 0;
  }
  li {
    float: left;
    width: 100%;
    padding-left: 0;
    margin-bottom: $baseline*0.25;
    span {
      float: left;
      margin-right: $gutter*0.125;
      font-weight: $bold;
      + span, + p span {
        font-weight: $regular;
      }
    }
  }
}

#LinkFrstPage, 
#LinkLastPage {
  display: none;
}

// Achieve forms overwrite
._AF {
  .fillinButtons-wrapper {
    .btn-af.cancelbutton,
    .icon-valid.fa.fa-check.alignAbove,
    .submitbutton,
    .fa-chevron-right {
      display: none;
    }
  }
  h1 {
    @include h1;
  }
  h2 {
    @include h2;
  }
  h3 {
    @include h3;
  }
  h4 {
    @include h4;
  }
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput .checkbox-wrapper label, 
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput .radio-wrapper label {
    @include p;
    color: $black;
    margin-bottom: 0;
    width: 100%;
  }
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.error input[type=checkbox] + label:before, 
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.error input[type=radio] + label:before {
    color: $black;
  }
  input[type=checkbox].checked + label:before, 
  input[type=checkbox]:checked + label:before, 
  input[type=radio].checked + label:before, 
  input[type=radio]:checked + label:before {
    max-width: 34px;
  }
  input[type=radio] + label:before {
    padding: 0;
  }
  *:after, 
  *:before, 
  .achieveforms-container *, 
  .achieveforms-container *:after, 
  .achieveforms-container *:before {
    @include box-sizing(content-box);
  }
  .col-xs-11.col-sm-11,
  .col-xs-11 {
    padding-left: 0;
    padding-right: 0;
  }
  .nextbutton {
    float: left !important;
    @include box-sizing(border-box);
  }
  .achieveforms-container .fillinButtons .btn i, 
  .achieveforms-container .fillinButtons .btn span {
    padding-right: 0;
  }
  .btn-af, 
  .achieveforms-container .btn-af {
    text-shadow: none;
  }
  .achieveforms-container .fillinButtons .btn {
    font-size: 1em;
    line-height: 1.4em;
    margin: 0;
    min-width: initial;
  }
  .achieveforms-container .fillinButtons .btn 
  ._AF .btn-af, 
  .achieveforms-container .btn-af {
    box-shadow: none;
    background-color: $button;
    border-color: $button;
    color: $white;
    @include border-radius(0);
    @include transition-none;
    &:hover {
      border-color: $button-hover-darken;
      background-color: $button-hover-darken;
      @include transition-none;
    }
  }
  .achieveforms-container .all-sections .field .fieldContent .fieldName ._fieldName {
    margin-bottom: $baseline;
  }
  .achieveforms-container .all-sections .field {
    padding-top: 0;
  }
  .achieveforms-container .all-sections .field .fieldContent .fieldName, 
  .achieveforms-container .all-sections .field .fieldContent .subform-summary {
    padding-left: 0;
    color: $black;
  }
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput .radio-wrapper label {
    color: $black;
  }
  .checkbox, .radio {
    margin-bottom: 0;
  }
  .achieveforms-container .all-sections {
    margin-top: 0;
  }
  #page.print, 
  #page.render, 
  .achieveforms-container #page.print, 
  .achieveforms-container #page.render {
    padding-top: 0;
  }
  a {
    text-decoration: underline !important;
  }
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput .checkbox-wrapper, 
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput .radio-wrapper {
    margin-bottom: $baseline*0.5;
  }
  .achieveforms-container .fillinButtons-wrapper {
    margin: 0;
  }
}



