// Achieve forms overwrite
.AF-Category-GovUK {
/* /////////////////////// AF ugly overwrites //////////////////////// */
  font-family: $stack !important;
  -webkit-font-smoothing: antialiased;
  background: $white;
  color: $body-text-colour !important;
  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  p {
    font-family: $stack !important;
    font-size: ms(0) !important;
    line-height: $baseline !important;
    color: $text-colour;
  }
  p {
    color: $body-text-colour;
  }
  .achieveforms-container .all-sections .field .fieldContent .fieldInput.content {
    margin-bottom: 0;
  }
  .navbar-default {
    background: none;
  }
  .section-name-hidden {
    display: none;
  }
  .fieldContent h1  {
    display: none;
  }
  .sections-toggle-wrapper.visible-xs {
    display: none;
  }
  .sectionNameWrapper {
    display: none;
  }
  .sectionNameWrapper.active {
    display: block;
  }
  .browser-check-background {
    background-color: $highlight-box-light;
    .browser-check {
      @include box-sizing(content-box);
      @extend %site-width-container;
      @extend %contain-floats;
      @media print {
        display: none;
      }
      padding-top: $baseline*0.25;
      padding-bottom: $baseline*0.25;
      .browser-content {
        @extend %grid-row;
        @include grid-column(1);
        @include small;
        margin-top: 0;
        margin-bottom: 0;
        @include media(mobile) {
          @include smaller;
        }
      }
    }
  }
  .header-background {
    background-color: $brand;
    height: auto;
    position: relative;
    z-index: 20;
    @media print {
      height: auto;
      @include box-shadow(none);
    }
    .header {
      @include box-sizing(content-box);
      @extend %site-width-container;
      @extend %contain-floats;
      @media print {
        margin: 0;
      }
      margin-top: 0;
      margin-bottom: 0;
      .nav {
      @extend %grid-row;
        .logo-text {
          height: $form-height*0.75;
          @include grid-column(1 / 2);
          a {
            color: $white;
            line-height: $form-height*0.75;
            @media print {
              color: $black;
              font-size: $small;
            }
          }
        }
        span {
          @include small;
          font-size: 0.5em;
          color: $white;
          @media print {
            color: $black;
          }
        }
      }
    }
  }
  .phase-banner-background {
    background-color: $white;
    .phase-banner {
      @include box-sizing(content-box);
      @extend %site-width-container;
      @extend %contain-floats;
      @media print {
        display: none;
      }
      padding-top: $baseline*0.25;
      padding-bottom: $baseline*0.25;
      .phase-content {
        @extend %grid-row;
        @include grid-column(1);
        @include small;
        margin-top: 0;
        margin-bottom: 0;
        @include media(mobile) {
          @include smaller;
        }
        .phase-tag {
          font-weight: $bold;
          line-height: 1em;
          text-transform: uppercase;
          color: $white;
          background-color: $brand;
          display: inline-block;
          padding: $baseline*0.125 $baseline*0.25;
          margin-right: $gutter*0.25;
        }
      }
    }
    + main#content {
      border-top: $border-thin $grey-light solid;
    }
  }
  // Multiple choice
  // ==========================================================================

  // Radio buttons & checkboxes

  // By default, multiple choice inputs stack vertically
  .form {
    .group, .fieldContent {
      .radio-wrapper:last-child {
        margin-bottom: $baseline*0.5 !important;
      }
      .multiple-choice, .radio-wrapper {
        display: inline-block;
        float: left;
        clear: left;
        position: relative;
        padding: 0 0 0 38px;
        margin-bottom: $baseline*0.5;
        // Absolutely position inputs within label, to allow text to wrap
        input {
          position: absolute;
          cursor: pointer;
          left: 0;
          top: 0;
          width: 38px;
          height: 38px;
          z-index: 1;
          zoom: 1;
          filter: alpha(opacity=0);
          opacity: 0;

          // IE8 doesn’t support pseudoelements, so we don’t want to hide native elements there.
          @if ($is-ie == false) or ($ie-version == 9) {
            margin: 0;
            @include opacity(0);
          }
        }

        label {
          cursor: pointer;
          padding: 8px $gutter*0.3 9px 12px;
          display: block;
          margin-top: 0;
          margin-bottom: 0;

          // remove 300ms pause on mobile
          -ms-touch-action: manipulation;
          touch-action: manipulation;
        }
        [type=radio] + label::before {
          content: "";
          border: 2px solid;
          background: transparent;
          width: 34px;
          height: 34px;
          position: absolute;
          top: 0;
          left: 0;
          @include border-radius(50%);
        }
        [type=radio] + label::after {
          content: "";
          border: 10px solid;
          width: 0;
          height: 0;
          position: absolute;
          top: 9px;
          left: 9px;
          @include border-radius(50%);
          @include opacity(0);
        }
        [type=checkbox] + label::before {
          content: "";
          border: 2px solid;
          background: transparent;
          width: 34px;
          height: 34px;
          position: absolute;
          top: 0;
          left: 0;
        }
        [type=checkbox] + label::after {
          content: "";
          border: solid;
          border-width: 0 0 5px 5px;
          background: transparent;
          border-top-color: transparent;
          width: 17px;
          height: 7px;
          position: absolute;
          top: 10px;
          left: 8px;
          -moz-transform: rotate(-45deg); // Firefox 15 compatibility
          -o-transform: rotate(-45deg); // Opera 12.0 compatibility
          -webkit-transform: rotate(-45deg); // Safari 8 compatibility
          -ms-transform: rotate(-45deg); // IE9 compatibility
          transform: rotate(-45deg);
          @include opacity(0);
        }

        // Focused state
        [type=radio]:focus + label::before {
          @include box-shadow(0 0 0 4px $focus-colour);
        }

        [type=checkbox]:focus + label::before {
          @include box-shadow(0 0 0 3px $focus-colour);
        }

        // Selected state
        input:checked + label::after {
          @include opacity(1);
        }

        // Disabled state
        input:disabled {
          cursor: default;
        }

        input:disabled + label {
          @include opacity(0.5);
          cursor: default;
        }

        &:last-child,
        &:last-of-type {
          margin-bottom: 0;
        }
      }

      // To sit multiple choice inputs next to each other, use .inline on parent
      .inline .multiple-choice {
        clear: none;
        @include media (tablet) {
          margin-bottom: 0;
          margin-right: $gutter;
        }
      }
    }
  }
  section {
    margin-bottom: 0;
  }
  button, 
  .btn,
  .btn-group-lg>.btn, 
  .btn-lg,
  .cee.btn.btn-default:hover, 
  .cee.btn.btn-search:hover, 
  .cee.btn.btn-search:active, 
  .cee.btn.btn-primary:hover, 
  .cee.btn.btn-primary:active,
  .btn-block,
  .cee.btn.btn-default, 
  .cee.btn.btn-search, 
  .cee.btn.btn-primary {
    @include button;
    @include border-radius(0);
    text-align: left;
    padding: 4px $baseline;
    &:focus {
      outline: $border-thick solid $focus-colour;
    }
  }
  h1, .section-name-hidden {
    @include h1;
    font-size: ms(9) !important;
    font-weight: $bold !important;
    text-transform: none !important;
    line-height: $baseline*2 !important;
    margin-top: $baseline*1.5 !important;
    margin-bottom: $baseline*1.5 !important;
  }
  h2 {
    @include h2;
  }
  h3 {
    @include h3;
  }
  h4 {
    @include h4;
  }
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput .checkbox-wrapper label, 
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput .radio-wrapper label {
    @include p;
    color: $black;
    margin-bottom: 0;
    width: 100%;
  }
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.error input[type=checkbox] + label:before, 
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.error input[type=radio] + label:before {
    color: $black;
  }
  input[type=checkbox].checked + label:before, 
  input[type=checkbox]:checked + label:before, 
  input[type=radio].checked + label:before, 
  input[type=radio]:checked + label:before {
    max-width: 34px;
  }
  input[type=radio] + label:before {
    padding: 0;
    margin-left: 0 !important;
  }
  *:after, 
  *:before, 
  .achieveforms-container *, 
  .achieveforms-container *:after, 
  .achieveforms-container *:before {
    @include box-sizing(content-box);
  }
  .nextbutton {
    @include box-sizing(border-box);
  }
  .previousbutton {
    position: absolute;
    background: none;
    padding: 0;
    left: 25px;
    top: 0;
    background-color: $white !important;
    border: none !important;
    color: $black !important;
  }
  .achieveforms-container .fillinButtons .btn i, 
  .achieveforms-container .fillinButtons .btn span {
    padding-right: 0;
  }
  .btn-af, 
  .achieveforms-container .btn-af {
    text-shadow: none;
  }
  .achieveforms-container .fillinButtons .btn {
    font-size: 1rem;
    line-height: 1.4rem;
    margin: 0;
    min-width: initial;
  }
  .achieveforms-container .fillinButtons .btn 
  ._AF .btn-af, 
  .achieveforms-container .btn-af {
    box-shadow: none;
    background-color: $button;
    border-color: $button;
    color: $white;
    @include border-radius(0);
    @include transition-none;
    &:hover {
      border-color: $button-hover-darken;
      background-color: $button-hover-darken;
      @include transition-none;
    }
  }
  .achieveforms-container .all-sections .field .fieldContent .fieldName ._fieldName {
    margin-bottom: $baseline*0.5;
  }
  .achieveforms-container .all-sections .field {
    padding-top: 0;
  }
  .achieveforms-container .all-sections .field .fieldContent .fieldName, 
  .achieveforms-container .all-sections .field .fieldContent .subform-summary {
    padding-left: 0;
    color: $black;
  }
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput .radio-wrapper label {
    color: $black;
  }
  .checkbox, .radio {
    margin-top: 0;
    margin-bottom: 0;
  }
  .achieveforms-container .all-sections {
    margin-top: 0;
  }
  #page.print, 
  #page.render, 
  .achieveforms-container #page.print, 
  .achieveforms-container #page.render {
    padding-top: 0;
  }
  a {
    text-decoration: underline;
  }
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput .checkbox-wrapper, 
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput .radio-wrapper {
    margin-bottom: $baseline*0.5;
  }
  .achieveforms-container .fillinButtons-wrapper {
    margin: 0;
  }
// Multiple choice
// ==========================================================================
  .group, .fieldContent {
    .radio-wrapper:last-child {
      margin-bottom: $baseline*0.5 !important;
    }
    .multiple-choice, .radio-wrapper {
      display: inline-block;
      float: left;
      clear: left;
      position: relative;
      padding: 0 0 0 38px;
      margin-bottom: $baseline*0.5;
      // Absolutely position inputs within label, to allow text to wrap
      input {
        position: absolute;
        cursor: pointer;
        left: 0;
        top: 0;
        width: 38px;
        height: 38px;
        z-index: 1;
        zoom: 1;
        filter: alpha(opacity=0);
        opacity: 0;

        // IE8 doesn’t support pseudoelements, so we don’t want to hide native elements there.
        @if ($is-ie == false) or ($ie-version == 9) {
          margin: 0;
          @include opacity(0);
        }
      }

      label {
        cursor: pointer;
        padding: 8px $gutter*0.3 9px 12px;
        display: block;
        margin-top: 0;
        margin-bottom: 0;

        // remove 300ms pause on mobile
        -ms-touch-action: manipulation;
        touch-action: manipulation;
      }
      [type=radio] + label::before {
        content: "";
        border: 2px solid;
        background: transparent;
        width: 34px;
        height: 34px;
        position: absolute;
        top: 0;
        left: 0;
        @include border-radius(50%);
      }
      [type=radio] + label::after {
        content: "";
        border: 10px solid;
        width: 0;
        height: 0;
        position: absolute;
        top: 9px;
        left: 9px;
        @include border-radius(50%);
        @include opacity(0);
      }
      [type=checkbox] + label::before {
        content: "";
        border: 2px solid;
        background: transparent;
        width: 34px;
        height: 34px;
        position: absolute;
        top: 0;
        left: 0;
      }
      [type=checkbox] + label::after {
        content: "";
        border: solid;
        border-width: 0 0 5px 5px;
        background: transparent;
        border-top-color: transparent;
        width: 17px;
        height: 7px;
        position: absolute;
        top: 10px;
        left: 8px;
        -moz-transform: rotate(-45deg); // Firefox 15 compatibility
        -o-transform: rotate(-45deg); // Opera 12.0 compatibility
        -webkit-transform: rotate(-45deg); // Safari 8 compatibility
        -ms-transform: rotate(-45deg); // IE9 compatibility
        transform: rotate(-45deg);
        @include opacity(0);
      }

      // Focused state
      [type=radio]:focus + label::before {
        @include box-shadow(0 0 0 4px $focus-colour);
      }

      [type=checkbox]:focus + label::before {
        @include box-shadow(0 0 0 3px $focus-colour);
      }

      // Selected state
      input:checked + label::after {
        @include opacity(1);
      }

      // Disabled state
      input:disabled {
        cursor: default;
      }

      input:disabled + label {
        @include opacity(0.5);
        cursor: default;
      }

      &:last-child,
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    // To sit multiple choice inputs next to each other, use .inline on parent
    .inline .multiple-choice {
      clear: none;
      @include media (tablet) {
        margin-bottom: 0;
        margin-right: $gutter;
      }
    }
  }
// Forms
// ==========================================================================
  .achieveforms-container {
    margin-top: $baseline*2;
    margin-bottom: $baseline*2;
  }
  legend, ._fieldName {
    @include h4;
    margin-top: 0;
  }
  ._fieldName {
    display: inline-block;
    + .mandatory {
      display: none;
    }
  }
  .group, .all-sections {
    display: block;
    margin-bottom: $baseline;
    label, input {
      text-transform: none;
      display: block;
    }
    input {
      @include box-sizing(border-box);
      @include border-radius(0);
      font-size: ms(0);
      font-weight: $normal;
      text-transform: none;
      height: $form-height*0.75;
      padding: $baseline*0.25;
      border-width: $border-normal;
      border-style: solid;
      border-color: $grey-dark;
    }
    label {
      display: block;
      margin-top: $baseline*0.5;
      margin-bottom: $baseline*0.25;
    }
    .fieldName {
      margin-top: 0;
      margin-bottom: 0;
    }
    .form-hint {
      display: block;
      margin-top: $baseline*0.25;
      margin-bottom: $baseline*0.25;
    }
    select, input, textarea {
      width: 100%;
      margin-bottom: $baseline*0.25;
    }
    select {
      @include media(desktop) {
        width: 50%;
      }
    }
  }
  .fieldInput.selectInput.radio.vertical.error {
    margin-bottom: $baseline;
  }
  .formName {
    display: none;
  }
  .fa.fa-chevron-left,
  .fa.fa-chevron-right,
  .fa.fa-check {
    display: none;
  }
  .fa.fa-chevron-left {
    display: inline-block;
  }
  .achieveforms-container .all-sections .field .staticText ul {
    font-size: 1rem;
  }
  .fillinButtons-wrapper {
    .btn-af.cancelbutton,
    .icon-valid.fa.fa-check.alignAbove {
      display: none;
    }
  }
  .icon-valid.fa.fa-check {
    display: none;
  }
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.valid input[type=checkbox]+label:before, 
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.valid input[type=radio]+label:before {
    color: $black;
  }
  label.radio-label {
    margin-left: 0 !important;
  }
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput {
    margin: 0;
    padding: 0;
    border: none; 
  }
  .achieveforms-container .all-sections .field .fieldContent .fieldInput.hasCurrencyPrefix, .achieveforms-container .all-sections .field .fieldContent .fieldInput.hasPrefix, 
  .achieveforms-container .all-sections .field .fieldContent .prefix-suffix-mode.hasCurrencyPrefix, 
  .achieveforms-container .all-sections .field .fieldContent .prefix-suffix-mode.hasPrefix {
    @include border-radius(0 !important);
    border-width: $border-normal;
    border-style: solid;
    border-color: $grey-dark;
    border-left: none;
    padding: $baseline*0.25;
  }
  .achieveforms-container .prefix-wrapper.valid .prefix {
    @include border-radius(0 !important);
    border-width: $border-normal;
    border-style: solid;
    border-color: $grey-dark;
    border-right: none;
    padding: $baseline*0.25;
  }
  .achieveforms-container .all-sections .field .fieldContent .prefix-suffix-mode {
    margin-bottom: $baseline*0.5;
  }
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.valid input[data-type=date-subfield], 
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.valid input[type=checkbox]+label.btn, 
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.valid input[type=radio]+label.btn, 
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.valid+input.other-input,
  fieldset.valid input[type=checkbox]+label:before, 
  fieldset.valid input[type=radio]+label:before {
    border-color: $black !important;
  }
  .pull-left {
    float: left;
  }
  .achieveforms-container .all-sections .field .fieldContent .prefix-wrapper .prefix {
    @include border-radius(0);
    padding: 0;
    width: $gutter;
  }
  .prefix-wrapper.error .prefix,
  .achieveforms-container .prefix-wrapper.error .prefix {
    border-color: $black;
    border-width: $border-normal;
  }
  ._AF input[type=date].error:focus, 
  ._AF input[type=date]:focus, 
  ._AF input[type=datetime-local].error:focus, 
  ._AF input[type=datetime-local]:focus, 
  ._AF input[type=datetime].error:focus, 
  ._AF input[type=datetime]:focus, 
  ._AF input[type=email].error:focus, 
  ._AF input[type=email]:focus, 
  ._AF input[type=month].error:focus, 
  ._AF input[type=month]:focus, 
  ._AF input[type=number].error:focus, 
  ._AF input[type=number]:focus, 
  ._AF input[type=password].error:focus, 
  ._AF input[type=password]:focus, 
  ._AF input[type=search].error:focus, 
  ._AF input[type=search]:focus, 
  ._AF input[type=tel].error:focus, 
  ._AF input[type=tel]:focus, 
  ._AF input[type=text].error:focus, 
  ._AF input[type=text]:focus, 
  ._AF input[type=time].error:focus, 
  ._AF input[type=time]:focus, 
  ._AF input[type=url].error:focus, 
  ._AF input[type=url]:focus, 
  ._AF input[type=week].error:focus, 
  ._AF input[type=week]:focus, 
  ._AF select.error:focus, 
  ._AF select:focus, 
  ._AF textarea.error:focus, 
  ._AF textarea:focus, 
  .achieveforms-container input[type=date].error:focus, 
  .achieveforms-container input[type=date]:focus, 
  .achieveforms-container input[type=datetime-local].error:focus, 
  .achieveforms-container input[type=datetime-local]:focus, 
  .achieveforms-container input[type=datetime].error:focus, 
  .achieveforms-container input[type=datetime]:focus, 
  .achieveforms-container input[type=email].error:focus, 
  .achieveforms-container input[type=email]:focus, 
  .achieveforms-container input[type=month].error:focus, 
  .achieveforms-container input[type=month]:focus, 
  .achieveforms-container input[type=number].error:focus, 
  .achieveforms-container input[type=number]:focus, 
  .achieveforms-container input[type=password].error:focus, 
  .achieveforms-container input[type=password]:focus, 
  .achieveforms-container input[type=search].error:focus, 
  .achieveforms-container input[type=search]:focus, 
  .achieveforms-container input[type=tel].error:focus, 
  .achieveforms-container input[type=tel]:focus, 
  .achieveforms-container input[type=text].error:focus, 
  .achieveforms-container input[type=text]:focus, 
  .achieveforms-container input[type=time].error:focus, 
  .achieveforms-container input[type=time]:focus, 
  .achieveforms-container input[type=url].error:focus, 
  .achieveforms-container input[type=url]:focus, 
  .achieveforms-container input[type=week].error:focus, 
  .achieveforms-container input[type=week]:focus, 
  .achieveforms-container select.error:focus, 
  .achieveforms-container select:focus, 
  .achieveforms-container textarea.error:focus, 
  .achieveforms-container textarea:focus {
    box-shadow: none;
    @include box-shadow(0 0 0 3px $focus-colour);
  }
  .help-img-wrapper {
    display: none;
  }
  .help-text {
    display: block !important;
    i {
      display: none;
    }
  }
  .achieveforms-container .help-text {
    color: $black;
  }
  .col-lg-1, 
  .col-lg-10, 
  .col-lg-11, 
  .col-lg-12, 
  .col-lg-2, 
  .col-lg-3, 
  .col-lg-4, 
  .col-lg-5, 
  .col-lg-6, 
  .col-lg-7, 
  .col-lg-8, 
  .col-lg-9, 
  .col-md-1, 
  .col-md-10, 
  .col-md-11, 
  .col-md-12, 
  .col-md-2, 
  .col-md-3, 
  .col-md-4, 
  .col-md-5, 
  .col-md-6, 
  .col-md-7, 
  .col-md-8, 
  .col-md-9, 
  .col-sm-1, 
  .col-sm-10, 
  .col-sm-11, 
  .col-sm-12, 
  .col-sm-2, 
  .col-sm-3, 
  .col-sm-4, 
  .col-sm-5, 
  .col-sm-6, 
  .col-sm-7, 
  .col-sm-8, 
  .col-sm-9, 
  .col-xs-1, 
  .col-xs-10, 
  .col-xs-11, 
  .col-xs-12, 
  .col-xs-2, 
  .col-xs-3, 
  .col-xs-4, 
  .col-xs-5, 
  .col-xs-6, 
  .col-xs-7, 
  .col-xs-8, 
  .col-xs-9 {
    position: initial;
  }
  .achieveforms-container .sectionsHead .sectionsHeadInner {
    display: block;
    padding: 0;
    margin: 0;
  }
  .achieveforms-container .sectionsHead .sectionsHeadInner .sectionNameWrapper.active .sectionNameTab,
  .achieveforms-container .sectionsHead .sectionsHeadInner, 
  .nav-tabs>li>a:hover {
    border: none;
    color: $black;
  }
  .nav>li>a {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    color: $black;
    @include h1;
    text-decoration: none;
  }
  .sectionNameWrapper {
    padding-left: 0;
  }
  .cee.btn.btn-default, .cee.btn.btn-search, .cee.btn.btn-primary {
    border-color: $button;
  }
  .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.error input[data-type=date-subfield] {
    border-width: $border-normal;
    border-style: solid;
    border-color: $grey-dark;
  }
  .btn.btn-af.nextbutton.pull-right {
    float: left !important;
  }
}