#find-childcare-provider {
	.form {
		.group.type-checkbox {
			.provider, .map-category {
				display: inline-block;
				@include media(mobile) {
					display: block;
				}
				margin-right: $gutter;
				margin-bottom: $baseline*0.5;
			}
			input[type="checkbox"] {
				height: 1em;
				display: inline-block;
				margin: 0;
				width: auto;
			}
			span {
				height: 1em;
			}
			.provider {
				span {
					margin-left: 5px;
					margin-right: 5px;
				}
				div {
					float: right;
				}
			}
		}
	}
	#map-SearchByOfstedRef {
		.ui-icon.ui-icon-triangle-1-e {
			display: none;
		}
		.ui-accordion-header a {
			padding: 0;
			margin-bottom: $baseline;
		}
		#searchValue-OfstedReference {
			float: left;
			margin-right: $gutter*0.5;
		}
		#map-searchButton-OfstedRef {
			float: left !important;
		}
		.ui-state-default {
			background: none;
			border: none;
		}
		.ui-accordion-content {
			height: initial !important;
			display: block !important;
			padding: 0;
			border: none;
			@include border-radius(initial);
		}
	}
	.map {
		margin-bottom: $baseline;
		button.gm-control-active img {
			padding: 11px;
		}
		#map-controls {
			display: none;
		}
		#map-mappanel {
			margin-left: 0;
		}
	}
	.icon-map {
		float: left;
		img {
			margin-bottom: 0;
			padding: $baseline*0.125 0;
			width: $icon;
		}
	}
	#lower {
		border: $border-thin solid $grey-light;
		.ui-widget-header {
			border: none;
		}
		.ui-widget-content {
			border: none;
		}
		.ui-corner-all {
			@include border-radius(initial);
		}
		#mainTabs {
			border: $border-thin solid $grey-light;
			border-top: none;
			padding: 0;
			margin: $gutter;
			.ui-tabs-nav {
				border-bottom: $border-thin solid $grey-light;
				padding: 0;
				li {
					top: 0;
					margin: 0;
					border: none;
					@include border-radius(initial);
					a {
						padding: $gutter*0.5;
					}
				}
				.ui-state-default {
					background: $grey-lighter;
					a {
						border: $border-thicker solid $white;
					}
				}
				.ui-tabs-selected {
					background: $white;
					border-top: $border-thin solid $grey-light;
					border-right: $border-thin solid $grey-light;
					margin-bottom: -1px;
					a {
						color: $black;
					}
				}				
			}
		}
		#map-container {
			padding: 0;
		}
		#map-resultspanel {
			margin: 0;
			.dataTables_wrapper {
				margin: 0;
				#resultsTableHeader {
					input {
						border: 1px solid $grey-light;
					}
				}
				table.pretty {
					thead {
						th {
							text-align: left;
							font-weight: $bold;
							color: $black;
							background: none;
						}
						tr {
							// border-bottom: 2px solid $black;
						}
					}
					tbody tr.odd {
						border-top: $border-thin solid $black;
						border-bottom: $border-thin solid $black;
						td {
							background: none;
						}
					}
				}
			}
		}
		.ui-tabs.ui-tabs-panel {
			padding: 0;
		}
		.tabPanelBar {
			display: none;
		}
		#resultsTableHeader {
			margin: $gutter;
			input.button {
				margin: 0 !important;
			}
		}
		#resultsTable {
			margin: $gutter;
			width: auto !important;
		}
	}
	.bottom {
		display: inline-block;
		padding: $gutter;
		.dataTables_info, 
		.dataTables_length,
		.dataTables_paginate {
			float: left;
			width: 100%;
			padding: 0;
			margin: $baseline*0.5 0;
			background: none;
		}
		.paginate_disabled_previous,
		.paginate_disabled_next {
			background: none;
			padding: 0;
			margin: 0;
		}
	}
}