.form {
	.group.type-checkbox {
		.provider {
			display: inline-block;
			margin-right: $gutter;
			margin-bottom: $baseline;
		}
		input[type="checkbox"] {
			height: 1em;
			display: inline-block;
			margin: 0;
			width: auto;
		}
		span {
			height: 1em;
		}
	}
}