#find-childcare-provider {
	.form {
		.group.type-checkbox {
			.provider, .map-category {
				display: inline-block;
				@include media(mobile) {
					display: block;
				}
				margin-right: $gutter;
				margin-bottom: $baseline*0.5;
			}

			span {
				height: 1em;
			}
			.provider {
				span {
					margin-left: 5px;
					margin-right: 5px;
				}
				div {
					float: right;
				}
			}
		}
	}
	#map-SearchByOfstedRef {
		float: left;
		padding: $gutter*0.5;
		.ui-icon.ui-icon-triangle-1-e {
			display: none;
		}
		.ui-accordion-header a {
			font-weight: $regular;
			padding: 0;
			margin-bottom: $baseline*0.25;
		}
		#searchValue-OfstedReference {
			float: left;
			margin-right: $gutter*0.5;
			border: $border-thin solid $grey;
		}
		#map-searchButton-OfstedRef {
			float: left !important;
			margin: 0;
		}
		.ui-state-default {
			background: none;
			border: none;
		}
		.ui-accordion-content {
			height: initial !important;
			display: block !important;
			padding: 0;
			border: none;
			overflow: initial;
			@include border-radius(initial);
		}
	}
	#map-container {
		border: $border-thin solid $grey;
		margin-top: 0;
		margin-bottom: $baseline;
		padding: 0;
		padding-top: $baseline*0.5;
		@include border-radius(initial);
		.disclaimertext h3 {
			@include h4;
		}
		#map-lhcol {
			label, legend {
				display: inline-block;
				margin-top: $baseline*0.25;
				margin-bottom: $baseline*0.125;
			}
		}
		button.gm-control-active img {
			padding: 11px;
		}
		.formhelper.yellowbg {
			h3 {
				@include h4;
				margin-top: $baseline;
				margin-bottom: $baseline*0.25;
			}
			p {
				@include default-type;
				margin-top: 0;
				margin-bottom: $baseline*0.25;
				font-size: $smaller;
				a {
					color: $link;
					&:hover {
						color: $hover;
					}
					&:active {
						color: $active;
					}
					&:visited {
						color: $visited;
					}
				}
			}
		}
		#map-controlpanel {
			background-color: initial;
			border: none;
			margin: 0;
			padding: 0;
			#map-searchpanel h3 {
				margin: 0;
			}
			#map-SearchFields {
				padding: $gutter*0.5;
				.ui-state-active, 
				.ui-widget-content .ui-state-active, 
				.ui-widget-header.ui-state-active {
					background: none;
					border: none;
					a {
						@include button;
					}
				}
				.ui-accordion-header {
					margin: 0;
				}
				#map-search-by-address {
					@include border-radius(0);
					overflow: initial;
					border: none;
					padding: 0;
					margin: $baseline 0 0 0;
					background: none;
					height: initial !important;
					#map-catpanel {
						margin-bottom: 0;
						input[type="checkbox"] {
							height: 1em;
							display: inline-block;
							margin: 0;
							width: auto;
						}
						& > div {
							margin: 0 0 $baseline*0.5 0;
						}
						#chk-selectAllCategories {
							margin-left: 22px;
						}
						#lbl-selectAllCategories {
							font-size: $small;
						}						
						#map-catlist {
							#cat-table tr {
								display: inline-block;
								margin-bottom: $baseline*0.25;
								width: 100%;
								img {
									margin: 0;
									padding: 0;
									width: 16px;
									height: 16px;
								}
								input {
									margin: 0 $gutter*0.125;
								}
								span {
									font-size: $smaller;
								}
							}
						}
					}
					#searchValue-Location,
					#searchValue-Radius,
					#searchValue-ProviderName {
						border: 1px solid $grey;
						width: 100%;
					}
					#map-searchButton {
						float: left !important;
					}
				}
			}
			.searchSeparator {
				padding: $gutter*0.5;
				display: none;
			}
			.ui-accordion {
				width: initial;
			}
			legend {
				padding: 0;
				margin: 0;
			}
			fieldset {
				border: none;
				padding: 0;
				margin: 0;
				@include border-radius(0); 
			}		
			& + div {
				padding: $gutter*0.5;
				margin: 0 !important;
				width: 100%;
			}
		}
		#map-resultspanel {
			margin: 0;
			.dataTables_wrapper {
				margin: 0;
				#resultsTableHeader {
					input {
						border: 1px solid $grey;
					}
				}
				table.pretty {
					thead {
						th {
							text-align: left;
							font-weight: $bold;
							color: $black;
							background: none;
						}
						tr {
							// border-bottom: 2px solid $black;
						}
					}
					tbody tr.odd {
						border-top: $border-thin solid $black;
						border-bottom: $border-thin solid $black;
						td {
							background: none;
						}
					}
				}
			}
		}
		#map-controls {
			display: none;
		}
		#map-mappanel {
			margin: 0;
			border: none;
		}
		#formhelperHelp {
			p {
				margin-bottom: $baseline*0.25;
				a {
					color: $link !important;
					&:hover {
						color: $hover !important;
					}
					&:active {
						color: $active !important;
					}
					&:visited {
						color: $visited !important;
					}
				}
			}
		}
	}
	.icon-map {
		float: left;
		img {
			margin-bottom: 0;
			padding: $baseline*0.125 0;
			width: $icon;
		}
	}
	#lower {
		.ui-widget-header {
			border: none;
		}
		.ui-widget-content {
			float: left;
			border-top: none;
		}
		.ui-corner-all {
			@include border-radius(initial);
		}
		#mainTabs {
			border: none;
			padding: 0;
			.ui-tabs-nav {
				border-bottom: $border-thin solid $grey;
				padding: 0;
				li {
					top: 0;
					margin: 0;
					border: none;
					@include border-radius(initial);
					a {
						padding: $gutter*0.5;
					}
				}
				.ui-state-default {
					background: $grey-lighter;
					a {
						border: $border-thicker solid $white;
					}
				}
				.ui-tabs-selected {
					background: $white;
					border: $border-thin solid $grey;
					border-bottom: none;
					margin-bottom: -1px;
					a {
						color: $black;
					}
				}				
			}
		}
		#map-controlpanel input[type='checkbox']
		.ui-tabs.ui-tabs-panel {
			padding: 0;
		}
		.tabPanelBar {
			display: none;
		}
		#resultsTableHeader {
			float: right;
			margin: $baseline 0;
			input.button {
				margin: 0 !important;
				display: none;
			}
		}
		#resultsTable {
			margin: $baseline 0;
			width: auto !important;
		}
	}
	.bottom {
		display: inline-block;
		padding: $gutter;
		.dataTables_info, 
		.dataTables_length,
		.dataTables_paginate {
			float: left;
			width: 100%;
			padding: 0;
			margin: $baseline*0.5 0;
			background: none;
		}
		.paginate_disabled_previous,
		.paginate_disabled_next {
			background: none;
			padding: 0;
			margin: 0;
		}
	}
}