{% extends "basic_template.html" %}

{% block content %}


    <link type="text/css" rel="Stylesheet" media="screen" href="../app/views/followthecabinet/Essex County Council - Follow the Cabinet_files/uBlogsy.css">
           
            
            

  <header>
    <div class="navbar navbar-default">
    <div class="nav-container container"> <a href="http://www.essex.gov.uk/"><img src="/public/images/followthecabinet/essex_county_council_logo.png" alt="Essex County Council Logo"></a> </div>
    </div>
  </header>  


                
            
            

    <nav id="uBlogsy_nav" class="uBlogsy_font_style20">
            <a href="https://followthecabinet.essex.gov.uk/" class="uBlogsy_nav_item uBlogsy_current">Home</a>
                        <a href="https://followthecabinet.essex.gov.uk/authors/" class="uBlogsy_nav_item"></a>
                <a href="https://followthecabinet.essex.gov.uk/categories-optional/" class="uBlogsy_nav_item"></a>
                <a href="https://followthecabinet.essex.gov.uk/list-of-pages/" class="uBlogsy_nav_item"></a>
                <a href="https://followthecabinet.essex.gov.uk/2019/" class="uBlogsy_nav_item"></a>
    </nav>


            
            
    <div id="uBlogsy"> 
        <div id="uBlogsy_main">
               
            <section id="uBlogsy_left_col">
                
    <div class="uBlogsy_content_body">
      <h1>Follow the Leader and Cabinet</h1>
<p>I’m David Finch. Leader of Essex County Council.</p>
<p>In this blog I’ll be sharing my take on Essex and the work the County Council is doing to make our great county the best place to live in the country – it’ll be all about our people, our passion and our commitment to doing the best for you.</p>    </div>
  
    
    <section class="uBlogsy_posts_container">
    

    <ul id="uBlogsy_pagination" class="uBlogsy_font_style20">
        
        <li class="uBlogsy_page_prev">
                <span>Prev</span>
        </li>

        
            <li class="uBlogsy_page_item uBlogsy_current">
                    <span>1</span> 
            </li>

        
        <li class="uBlogsy_page_next">
                <span>Next</span>
        </li>
    </ul>


        <article class="uBlogsy_post uBlogsy_bottom_border">
        <h2>
            <a href="https://followthecabinet.essex.gov.uk/2019/april/04/occupational-therapists-can-return-to-work-with-ecc/" title="Occupational Therapists can return to work with ECC"><span>Occupational Therapists can return to work with ECC</span></a></h2>
        <h3 class="uBlogsy_post_date uBlogsy_font_style40">Thursday April 4, 2019</h3>

        <section class="uBlogsy_post_body">
            

            On International Women’s Day, we launched a paid return to work programme for Occupational Therapists who have been out of work and who are now looking to re-enter the profession
        </section>

        <!--aside class="uBlogsy_post_details">
            
            <div class="uBlogsy_label_container">
                


            </div>
            
            
            

    <div class="uBlogsy_author uBlogsy_font_style30">
            <span style="font-weight:bold">By</span> 
        <span class="uBlogsy_author_name">
                <a href="/?author=Cllr+John+Spence" title="Cllr John Spence">Cllr John Spence</a>   </span>
        <p></p>
    </div>




                
        </aside-->
            
        
            
    </article>

















        <article class="uBlogsy_post uBlogsy_bottom_border">
        <h2>
            <a href="https://followthecabinet.essex.gov.uk/2019/march/a-welcome-new-funding-boost-for-a-thriving-essex-coast/" title="A welcome new funding boost for a thriving Essex coast"><span>A welcome new funding boost for a thriving Essex coast</span></a></h2>
        <h3 class="uBlogsy_post_date uBlogsy_font_style40">Wednesday March 27, 2019</h3>

        <section class="uBlogsy_post_body">
            

            It is so important that the Essex Coast is promoted as a tourism destination to people across both the UK and the World, so that they can enjoy its majesty and support the local businesses that operate there.
        </section>

        <!--aside class="uBlogsy_post_details">
            
            <div class="uBlogsy_label_container">
                


            </div>
            
            
            

    <div class="uBlogsy_author uBlogsy_font_style30">
            <span style="font-weight:bold">By</span> 
        <span class="uBlogsy_author_name">
                <a href="/?author=Cllr+Simon+Walsh" title="Cllr Simon Walsh">Cllr Simon Walsh</a>   </span>
        <p></p>
    </div>




                
        </aside-->
            
        
            
    </article>

















        <article class="uBlogsy_post uBlogsy_bottom_border">
        <h2>
            <a href="https://followthecabinet.essex.gov.uk/2019/march/campaign-seeks-to-arm-parents-with-understanding-to-end-child-sexual-exploitation/" title="Campaign seeks to ‘arm parents with understanding’ to end child sexual exploitation"><span>Campaign seeks to ‘arm parents with understanding’ to end child sexual exploitation</span></a></h2>
        <h3 class="uBlogsy_post_date uBlogsy_font_style40">Tuesday March 19, 2019</h3>

        <section class="uBlogsy_post_body">
            

            Child Sexual Exploitation (CSE) is a highly concerning subject, but it is one we must not be afraid to face – all parents have a vital role to play in supporting and advising young people to understand this threat.
        </section>

        <!--aside class="uBlogsy_post_details">
            
            <div class="uBlogsy_label_container">
                


            </div>
            
            
            

    <div class="uBlogsy_author uBlogsy_font_style30">
            <span style="font-weight:bold">By</span> 
        <span class="uBlogsy_author_name">
                <a href="/?author=Cllr+Dick+Madden" title="Cllr Dick Madden">Cllr Dick Madden</a>   </span>
        <p></p>
    </div>




                
        </aside-->
            
        
            
    </article>

















        <article class="uBlogsy_post uBlogsy_bottom_border">
        <h2>
            <a href="https://followthecabinet.essex.gov.uk/2019/march/07/residents-can-identify-pavements-needing-repair-to-county-councillors/" title="Residents can identify pavements needing repair to County Councillors"><span>Residents can identify pavements needing repair to County Councillors</span></a></h2>
        <h3 class="uBlogsy_post_date uBlogsy_font_style40">Thursday March 7, 2019</h3>

        <section class="uBlogsy_post_body">
            

            Last Autumn, I launched the ‘Top 20’ Local Pothole Repair Programme, giving all County Members a direct say in the key potholes they, their District and Parish colleagues and the people they represent, wanted to see fixed as a local priority.
        </section>

        <!--aside class="uBlogsy_post_details">
            
            <div class="uBlogsy_label_container">
                


            </div>
            
            
            

    <div class="uBlogsy_author uBlogsy_font_style30">
            <span style="font-weight:bold">By</span> 
        <span class="uBlogsy_author_name">
                <a href="/?author=Cllr+Kevin+Bentley" title="Cllr Kevin Bentley">Cllr Kevin Bentley</a>   </span>
        <p></p>
    </div>




                
        </aside-->
            
        
            
    </article>

















        <article class="uBlogsy_post uBlogsy_bottom_border">
        <h2>
            <a href="https://followthecabinet.essex.gov.uk/2019/march/01/three-new-schools-increase-special-educational-needs-send-provision-in-essex/" title="Three new schools increase Special Educational Needs (SEND) provision in Essex"><span>Three new schools increase Special Educational Needs (SEND) provision in Essex</span></a></h2>
        <h3 class="uBlogsy_post_date uBlogsy_font_style40">Friday March 1, 2019</h3>

        <section class="uBlogsy_post_body">
            

            This week Cabinet agreed to progress with building three new schools in Chelmsford and Witham.
        </section>

        <!--aside class="uBlogsy_post_details">
            
            <div class="uBlogsy_label_container">
                


            </div>
            
            
            

    <div class="uBlogsy_author uBlogsy_font_style30">
            <span style="font-weight:bold">By</span> 
        <span class="uBlogsy_author_name">
                <a href="/?author=Cllr+Ray+Gooding" title="Cllr Ray Gooding">Cllr Ray Gooding</a>   </span>
        <p></p>
    </div>




                
        </aside-->
            
        
            
    </article>

















        <article class="uBlogsy_post uBlogsy_bottom_border">
        <h2>
            <a href="https://followthecabinet.essex.gov.uk/2019/february/13/why-2039-matters/" title="Why 2039 matters…"><span>Why 2039 matters…</span></a></h2>
        <h3 class="uBlogsy_post_date uBlogsy_font_style40">Wednesday February 13, 2019</h3>

        <section class="uBlogsy_post_body">
            

            Yesterday presented the detail of the County Council’s budget for the coming year. Within it were our ambitious plans to transform and modernise services across the county.
        </section>

        <!--aside class="uBlogsy_post_details">
            
            <div class="uBlogsy_label_container">
                


            </div>
            
            
            

    <div class="uBlogsy_author uBlogsy_font_style30">
            <span style="font-weight:bold">By</span> 
        <span class="uBlogsy_author_name">
                <a href="/?author=Cllr+Louise+McKinlay" title="Cllr Louise McKinlay">Cllr Louise McKinlay</a>   </span>
        <p></p>
    </div>




                
        </aside-->
            
        
            
    </article>

















        <article class="uBlogsy_post uBlogsy_bottom_border">
        <h2>
            <a href="https://followthecabinet.essex.gov.uk/2019/february/12/tackling-the-modern-scourge/" title="Tackling the modern scourge"><span>Tackling the modern scourge</span></a></h2>
        <h3 class="uBlogsy_post_date uBlogsy_font_style40">Tuesday February 12, 2019</h3>

        <section class="uBlogsy_post_body">
            

            I enjoyed a day of political exchanges with my councillor colleagues at our Full Council meeting earlier today. At the centre of council business was Essex County Council’s plan for the year, which it was my pleasure to introduce.
        </section>

        <!--aside class="uBlogsy_post_details">
            
            <div class="uBlogsy_label_container">
                


            </div>
            
            
            

    <div class="uBlogsy_author uBlogsy_font_style30">
            <span style="font-weight:bold">By</span> 
        <span class="uBlogsy_author_name">
                <a href="/?author=Cllr+David+Finch" title="Cllr David Finch">Cllr David Finch</a>   </span>
        <p></p>
    </div>




                
        </aside-->
            
        
            
    </article>

























    
    </section>  

            </section>
            <aside id="uBlogsy_right_col">
                
                

<script type="text/javascript">
    $(document).ready(function(){
        $('#uBlogsyBtnSearch').click(function(){

            window.location.href = "/" + '?search=' + $("#uBlogsyTxtSearch").val();
            return false;
        });
        $('#uBlogsyTxtSearch').keyup(function (e) {
            if(e.which == 13) {$('#uBlogsyBtnSearch').trigger('click');}
        });
    });
</script>
<div class="uBlogsy_search">
    <input id="uBlogsyTxtSearch" type="text" placeholder="Search">
    <input id="uBlogsyBtnSearch" type="submit" value="Submit">
</div>

                  
                
                

    <div class="uBlogsy_posts_container uBlogsy_bottom_border">
        <h2 class="uBlogsy_head_style20">Latest Posts</h2>
        <ul>
                <li><a href="https://followthecabinet.essex.gov.uk/2019/april/04/occupational-therapists-can-return-to-work-with-ecc/" title="Occupational Therapists can return to work with ECC">
                        <span>Occupational Therapists can return to work with ECC</span>
                    </a> - <span>4 April 2019</span>
                </li>
                <li><a href="https://followthecabinet.essex.gov.uk/2019/march/a-welcome-new-funding-boost-for-a-thriving-essex-coast/" title="A welcome new funding boost for a thriving Essex coast">
                        <span>A welcome new funding boost for a thriving Essex coast</span>
                    </a> - <span>27 March 2019</span>
                </li>
                <li><a href="https://followthecabinet.essex.gov.uk/2019/march/campaign-seeks-to-arm-parents-with-understanding-to-end-child-sexual-exploitation/" title="Campaign seeks to ‘arm parents with understanding’ to end child sexual exploitation">
                        <span>Campaign seeks to ‘arm parents with understanding’ to end child sexual exploitation</span>
                    </a> - <span>19 March 2019</span>
                </li>
                <li><a href="https://followthecabinet.essex.gov.uk/2019/march/07/residents-can-identify-pavements-needing-repair-to-county-councillors/" title="Residents can identify pavements needing repair to County Councillors">
                        <span>Residents can identify pavements needing repair to County Councillors</span>
                    </a> - <span>7 March 2019</span>
                </li>
                <li><a href="https://followthecabinet.essex.gov.uk/2019/march/01/three-new-schools-increase-special-educational-needs-send-provision-in-essex/" title="Three new schools increase Special Educational Needs (SEND) provision in Essex">
                        <span>Three new schools increase Special Educational Needs (SEND) provision in Essex</span>
                    </a> - <span>1 March 2019</span>
                </li>
        </ul>
    </div>












                
                



    <script type="text/javascript">
        $(document).ready(function () {
            $('#uBlogsy_post_archive .uBlogsy_year_name').click(function () {

                // toggle months
                $(this).siblings(".uBlogsy_months").toggle();
                $(this).siblings(".uBlogsy_months").find('.uBlogsy_post_items').trigger('click');

                return false;
            });

            $('#uBlogsy_post_archive .uBlogsy_month_name').click(function () {
                // toggle months
                $(this).siblings(".uBlogsy_post_items").toggle();
                return false;
            });

            // expand current post item's month
            var postItem = $('#uBlogsy_post_archive').find('a[href$="' + window.location.pathname + '"]');
            if (postItem.length == 1) {
                $(postItem).parents('#uBlogsy_post_archive .uBlogsy_post_items').show();
                $(postItem).parents('#uBlogsy_post_archive .uBlogsy_months').show();
            }
            else {
                // expand latest month
                $(postItem).parents('#uBlogsy_post_archive .uBlogsy_months:eq(0)').show();

                // trigger click to show first month
                $('.uBlogsy_month_name:eq(0)').trigger('click');
            }
        });
    </script>
    <section class="uBlogsy_archive uBlogsy_bottom_border">
        <h2 class="uBlogsy_head_style20">Archive</h2>
        <div id="uBlogsy_post_archive">
            <ul class="uBlogsy_years">
                    <li class="uBlogsy_year uBlogsy_year_first"><a class="uBlogsy_year_name" href="https://followthecabinet.essex.gov.uk/#"><span>2019</span></a>
                        
                        <ul class="uBlogsy_months" style="display: block;">
                                <li class="uBlogsy_month"><a class="uBlogsy_month_name" href="https://followthecabinet.essex.gov.uk/#"><span>April</span>
                                </a>
                                    <ul class="uBlogsy_post_items" style="display: block;">
                                                <li class="uBlogsy_post_item"><a href="https://followthecabinet.essex.gov.uk/2019/april/04/occupational-therapists-can-return-to-work-with-ecc/"><span class="uBlogsy_post_title">Occupational Therapists can return to work with ECC</span>
            <span class="uBlogsy_post_date uBlogsy_font_style50">- 4th April 2019</span>
        </a></li>

                                    </ul>
                                </li>
                                <li class="uBlogsy_month"><a class="uBlogsy_month_name" href="https://followthecabinet.essex.gov.uk/#"><span>March</span>
                                </a>
                                    <ul class="uBlogsy_post_items">
                                                <li class="uBlogsy_post_item"><a href="https://followthecabinet.essex.gov.uk/2019/march/a-welcome-new-funding-boost-for-a-thriving-essex-coast/"><span class="uBlogsy_post_title">A welcome new funding boost for a thriving Essex coast</span>
            <span class="uBlogsy_post_date uBlogsy_font_style50">- 27th March 2019</span>
        </a></li>
        <li class="uBlogsy_post_item"><a href="https://followthecabinet.essex.gov.uk/2019/march/campaign-seeks-to-arm-parents-with-understanding-to-end-child-sexual-exploitation/"><span class="uBlogsy_post_title">Campaign seeks to ‘arm parents with understanding’ to end child sexual exploitation</span>
            <span class="uBlogsy_post_date uBlogsy_font_style50">- 19th March 2019</span>
        </a></li>
        <li class="uBlogsy_post_item"><a href="https://followthecabinet.essex.gov.uk/2019/march/07/residents-can-identify-pavements-needing-repair-to-county-councillors/"><span class="uBlogsy_post_title">Residents can identify pavements needing repair to County Councillors</span>
            <span class="uBlogsy_post_date uBlogsy_font_style50">- 7th March 2019</span>
        </a></li>
        <li class="uBlogsy_post_item"><a href="https://followthecabinet.essex.gov.uk/2019/march/01/three-new-schools-increase-special-educational-needs-send-provision-in-essex/"><span class="uBlogsy_post_title">Three new schools increase Special Educational Needs (SEND) provision in Essex</span>
            <span class="uBlogsy_post_date uBlogsy_font_style50">- 1st March 2019</span>
        </a></li>

                                    </ul>
                                </li>
                                <li class="uBlogsy_month"><a class="uBlogsy_month_name" href="https://followthecabinet.essex.gov.uk/#"><span>February</span>
                                </a>
                                    <ul class="uBlogsy_post_items">
                                                <li class="uBlogsy_post_item uBlogsy_current"><a href="https://followthecabinet.essex.gov.uk/2019/february/13/why-2039-matters/"><span class="uBlogsy_post_title">Why 2039 matters…</span>
            <span class="uBlogsy_post_date uBlogsy_font_style50">- 13th February 2019</span>
        </a></li>
        <li class="uBlogsy_post_item"><a href="https://followthecabinet.essex.gov.uk/2019/february/12/tackling-the-modern-scourge/"><span class="uBlogsy_post_title">Tackling the modern scourge</span>
            <span class="uBlogsy_post_date uBlogsy_font_style50">- 12th February 2019</span>
        </a></li>

                                    </ul>
                                </li>
                        </ul>
                    </li>
            </ul>
        </div>
    </section>












        
                


          
         
                

    <section class="uBlogsy_authors_container uBlogsy_bottom_border">
        <h2 class="uBlogsy_head_style20">
            Authors</h2>
        <ul class="uBlogsy_authors">
            
                <li> <a href="https://followthecabinet.essex.gov.uk/?author=Cllr+Dick+Madden" title="Cllr Dick Madden"><span>Cllr Dick Madden</span></a></li>
                <li> <a href="https://followthecabinet.essex.gov.uk/?author=Cllr+Simon+Walsh" title="Cllr Simon Walsh"><span>Cllr Simon Walsh</span></a></li>
                <li> <a href="https://followthecabinet.essex.gov.uk/?author=Cllr+Louise+McKinlay" title="Cllr Louise McKinlay"><span>Cllr Louise McKinlay</span></a></li>
                <li> <a href="https://followthecabinet.essex.gov.uk/?author=Cllr+Ray+Gooding" title="Cllr Ray Gooding"><span>Cllr Ray Gooding</span></a></li>
                <li> <a href="https://followthecabinet.essex.gov.uk/?author=Cllr+Kevin+Bentley" title="Cllr Kevin Bentley"><span>Cllr Kevin Bentley</span></a></li>
                <li> <a href="https://followthecabinet.essex.gov.uk/?author=Cllr+David+Finch" title="Cllr David Finch"><span>Cllr David Finch</span></a></li>
                <li> <a href="https://followthecabinet.essex.gov.uk/?author=Cllr+John+Spence" title="Cllr John Spence"><span>Cllr John Spence</span></a></li>
        </ul>
    </section>





            </aside>
        </div>
        
        
    </div>

        
      
    <footer class="row_pad container">
      <div class="row footer_top">
            <div class="small-6 columns">
        <div id="footerRight">
          <div id="social">
            <ul>
              <li class="twitter"><a href="http://twitter.com/essex_cc">Follow us on Twitter</a></li>
              <li class="facebook"><a href="http://www.fb.com/essexcountycouncil">Like us on Facebook</a></li>
              <li class="youtube"><a href="http://www.youtube.com/user/EssexCountyCouncil#g/u">View our YouTube channel</a></li>
              <li class="flickr"><a href="http://www.flickr.com/photos/33837531@N02/">View our photos on Flickr</a></li>
            </ul>
          </div>
          <div class="copyright">
            <p>© Essex County Council 2017</p>
          </div>
        </div>  
            </div>
      </div><!--Closing row-->
        <div class="row footer_bottom">
          <div class="small-6 columns">
              <div class="footerLinks">
          <ul>
            <li><a href="http://www.essex.gov.uk/Pages/Contact-us.aspx">Contact us</a></li>
            <li><a href="http://www.essex.gov.uk/Pages/A-Z.aspx">A-Z</a></li>
            <li><a href="http://www.essex.gov.uk/Your-Council/Pages/Jobs-at-the-Council.aspx">Jobs</a></li>
            <li><a href="http://www.essex.gov.uk/privacy-notices/Pages/Default.aspx">Privacy and cookies</a></li>
            <li><a href="http://www.essex.gov.uk/Pages/Accessibility-statement.aspx">Accessibility</a></li>
            <li class="last"><a href="http://www.essex.gov.uk/Pages/Disclaimer-Terms-and-Conditions.aspx">Terms, conditions and disclaimer</a></li>
          </ul>
        </div>
            </div>     
      </div><!--Closing row-->
    </footer><!--Closing footer-->



{% endblock %}
