{% extends "essex_main_template_search_header.html" %}

{% block content %}

<main id="content">
  <div class="container">
    <div class="breadcrumbs">
      <ol>
        <li><a href="/docs/core/contents">Contents</a></li>
        <li>Catchment Area Finder</li>
      </ol>
    </div>
    <div class="main" id="freedom-of-information">
      <section class="intro">               
        <h1>Catchment Area Finder</h1>
      </section>
      <section class="content">
      	<p><a href="/app/priority-admission">Priority admission (catchment) area finder</a></p>
  			<p><a href="/app/chelmsford-grammar-schools-distance-checker">Chelmsford grammar schools distance checker</a></p>
      	<p>Please note that living in the priority admission (catchment) area of a school does not guarantee entitlement to school transport. Please use the link to the school transport pages to find information about home to <a href="https://www.essex.gov.uk/Education-Schools/Travel-School">school transport</a> and the transport policy criteria.</p>
      	<div class="meta">24 August 2017</div>
      </section>
    </div>
  </div>
</main>

{% endblock %}