{% extends "essex_main_template_search_header.html" %}

{% block content %}

<main id="content">
  <div class="container">
    <div class="breadcrumbs">
      <ol>
        <li><a href="/docs/core/contents">Contents</a></li>
        <li>Find a childcare provider</li>
      </ol>
    </div>
    <div class="main" id="freedom-of-information">
      <section class="intro">               
        <h1>Find a childcare provider</h1>

        <p>To find a childcare provider near you, enter your town or postcode in the search box below, then select the size of the area you want to search using the dropdown list.</p>
        <p>You can narrow your search by type of provider, search directly for the name of a provider, or search using a provider’s Ofsted reference number. To find a particular provider’s Ofsted reference number, search on the <a href="https://reports.ofsted.gov.uk/childcare">Ofsted site.</a></p>

        <!-- Styles Start -->
        <!-- <link rel="stylesheet" type="text/css" href="./Family Information Service_ Find a childcare provider_files/mapping-style.css">
        <link rel="stylesheet" type="text/css" href="./Family Information Service_ Find a childcare provider_files/Find-a-provider.aspx" id="highContrast">
        <link rel="stylesheet" type="text/css" href="./Family Information Service_ Find a childcare provider_files/map.css">
        <link rel="stylesheet" type="text/css" href="./Family Information Service_ Find a childcare provider_files/jquery.dataTables_themeroller.css">
        <link rel="stylesheet" type="text/css" href="./Family Information Service_ Find a childcare provider_files/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="./Family Information Service_ Find a childcare provider_files/dataTables.css"> -->
        <!-- Styles Finish -->

        <!-- Scripts -->
        <!--[if IE]> <script src="/_layouts/ecc/csp/MappingWebPart/scripts/html5shiv.js"></script>  <![endif]-->

        <!-- jQuery -->
        <script type="text/javascript" src="find-a-childcare-provider-files/jquery.min.js"></script>

        <!-- jQuery UI -->
        <script type="text/javascript" src="find-a-childcare-provider-files/jquery-ui.min.js"></script>

        <!-- DataTables -->
        <script type="text/javascript" charset="utf8" src="find-a-childcare-provider-files/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="find-a-childcare-provider-files/datatables.fourbuttonpagination.plugin.js"></script>

        <!-- Google Maps API -->
        <script src="find-a-childcare-provider-files/js" type="text/javascript"></script>

        <script type="text/javascript" src="find-a-childcare-provider-files/EmailDialog.js"></script>
        <script type="text/javascript" src="find-a-childcare-provider-files/SearchPanel.js"></script>
        <script type="text/javascript" src="find-a-childcare-provider-files/CategoryPanel.js"></script>
        <script type="text/javascript" src="find-a-childcare-provider-files/customScript.js"></script>
        <script type="text/javascript" src="find-a-childcare-provider-files/main(1).js"></script>

        <script type="text/javascript">
          // surpress 
          jQuery(document).ready(function ($) {
            // handle enter button on searchValue-Location and searchValue-ProviderName inputs
           $("#searchValue-Location, #searchValue-ProviderName").keypress(function (e) {
             if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
               $('#map-searchButton').click();
               return false;
             } 
             else {
              return true;
            }
          });

            // handle enter button on searchValue-OfstedReference inputs
            $("#searchValue-OfstedReference").keypress(function (e) {
              if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
               $('map-searchButton-OfstedRef').click();
               return false;
             } 
             else {
               return true;
             }
           });
          });
        </script>
      </section>

      <section class="content">
        <div id="map-SearchFields">
          <h2 class="content-heading">Find by Address or Provider</h2>

          <form class="form">
            <fieldset>
              <div id="map-search-by-address" class="group search">
                <div class="search-input">
                  <label>Town, Postcode or Provider Name</label>
                  <input type="text" id="freedom-search" name="freedom-search" aria-label="Childcare Provioder Search">
                </div>
              </div>




              <div class="group">
                <label for="searchValue-Radius" class="searchCaption">Search Radius</label>
                <select id="searchValue-Radius" searchkey="Radius" searchtype="keyValue" disabledsearchvalue="-1">
                  <option value="-1">This area only</option>
                  <option value="1">within 1 mile</option>
                  <option value="3">within 3 miles</option>
                  <option value="5">within 5 miles</option>
                  <option value="10">within 10 miles</option>
                  <option value="20">within 20 miles</option>
                </select>
              </div>
            </fieldset>

            <div class="group type-checkbox">
              <fieldset>
                <legend class="searchCaption">Provider type</legend>
                <div class="provider">
                  <input id="map-cat-cbxccr-asc" type="checkbox" name="category" value="ccr-asc" checked="checked" aria-label="After School Clubs">
                  <span for="map-cat-cbxccr-asc">After School Clubs</span>
                  <span id="resultCount-ccr-asc" catid="ccr-asc">(1)</span>
                </div>
                
                <div class="provider">
                  <input id="map-cat-cbxccr-btg" type="checkbox" name="category" value="ccr-btg" checked="checked" aria-label="Baby and Toddler Groups">
                  <span for="map-cat-cbxccr-btg">Baby &amp; Toddler Groups</span>
                  <span id="resultCount-ccr-btg" catid="ccr-btg">(0)</span>
                </div>

                <div class="provider">
                  <input id="map-cat-cbxccr-brk" type="checkbox" name="category" value="ccr-brk" checked="checked" aria-label="Breakfast Clubs">
                  <span for="map-cat-cbxccr-brk">Breakfast Clubs</span>
                  <span id="resultCount-ccr-brk" catid="ccr-brk">(0)</span>
                </div>

                <div class="provider">
                  <input id="map-cat-cbxccr-chm" type="checkbox" name="category" value="ccr-chm" checked="checked" aria-label="Childminders">
                  <span for="map-cat-cbxccr-chm">Childminders</span>
                  <span id="resultCount-ccr-chm" catid="ccr-chm">(1)</span>
                </div>

                <div class="provider">
                  <input id="map-cat-cbxccr-cre" type="checkbox" name="category" value="ccr-cre" checked="checked" aria-label="Crèches">
                  <span for="map-cat-cbxccr-cre">Crèches</span>
                  <span id="resultCount-ccr-cre" catid="ccr-cre">(0)</span>
                </div>

                <div class="provider">
                  <input id="map-cat-cbxccr-dyn" type="checkbox" name="category" value="ccr-dyn" checked="checked" aria-label="Day Nurseries">
                  <span for="map-cat-cbxccr-dyn">Day Nurseries</span>
                  <span id="resultCount-ccr-dyn" catid="ccr-dyn">(1)</span>
                </div>

                <div class="provider">
                  <input id="map-cat-cbxccr-chc" type="checkbox" name="category" value="ccr-chc" checked="checked" aria-label="Family Hubs">
                  <span for="map-cat-cbxccr-chc">Family Hubs</span>
                  <span id="resultCount-ccr-chc" catid="ccr-chc">(0)</span>
                </div>

                <div class="provider">
                  <input id="map-cat-cbxccr-hol" type="checkbox" name="category" value="ccr-hol" checked="checked" aria-label="Holiday Clubs">
                  <span for="map-cat-cbxccr-hol">Holiday Clubs</span>
                  <span id="resultCount-ccr-hol" catid="ccr-hol">(1)</span>
                </div>

                <div class="provider">
                  <input id="map-cat-cbxccr-mns" type="checkbox" name="category" value="ccr-mns" checked="checked" aria-label="Maintained Nursery Schools">
                  <span for="map-cat-cbxccr-mns">Maintained Nursery Schools</span>
                  <span id="resultCount-ccr-mns" catid="ccr-mns">(0)</span>
                </div>

                <div class="provider">
                  <input id="map-cat-cbxccr-nis" type="checkbox" name="category" value="ccr-nis" checked="checked" aria-label="Nursery Unit Of Independent Schools">
                  <span for="map-cat-cbxccr-nis">Nursery Unit Of Independent Schools</span>
                  <span id="resultCount-ccr-nis" catid="ccr-nis">(0)</span>
                </div>

                <div class="provider">
                  <input id="map-cat-cbxccr-pre" type="checkbox" name="category" value="ccr-pre" checked="checked" aria-label="Pre-schools">
                  <span for="map-cat-cbxccr-pre">Pre-schools</span>
                  <span id="resultCount-ccr-pre" catid="ccr-pre">(0)</span>
                </div>

                <div class="provider">
                  <input id="map-cat-cbxccr-psn" type="checkbox" name="category" value="ccr-psn" checked="checked" aria-label="Primary School Nurseries">
                  <span for="map-cat-cbxccr-psn">Primary School Nurseries</span>
                  <span id="resultCount-ccr-psn" catid="ccr-psn">(0)</span>
                </div>
              </fieldset>
            </div>

            <input type="button" id="map-searchButton" value="Show results" class="button button-form">

          </form>
        </div>

        <ul class="search-results">
          <li>
            <ul class="data">
              <li><h3 class="h4"><a href="./childcare-provider">Neil O'Sullivan Sports</a></h3></li>
              <li><span>Distance</span>0.1</li>
              <li><span>Provider Type</span>After School Club</li>
            </ul>
          </li>

          <li>
            <ul class="data">
              <li><h3 class="h4"><a href="#">Stagecoach Saffron Walden</a></h3></li>
              <li><span>Distance</span>0.1</li>
              <li><span>Provider Type</span>Holiday Club</li>
            </ul>
          </li>

          <li>
            <ul class="data">
              <li><h3 class="h4"><a href="#">Pips Nursery</a></h3></li>
              <li><span>Distance</span>2.6</li>
              <li><span>Provider Type</span>Day Nursery</li>
            </ul>
          </li>

          <li>
            <ul class="data">
              <li><h3 class="h4"><a href="#">Doherty Phillippa Margaret</a></h3></li>
              <li><span>Distance</span>2.6</li>
              <li><span>Provider Type</span>Childminder</li>
            </ul>
          </li>
        </ul>
        <h4>Disclaimer</h4>
        <p>This search is for general information purposes only. All childcare locations shown on the map are purely indicative and may not represent the exact location. Please contact the childcare provider to confirm their actual location. Childcare providers may have asked for their address and/or contact details to be omitted for reasons of privacy.</p>
      </section>

      <section class="function">
        <nav class="pagination">
          <ul>
            <li class="next">
              <a href="#">
                <span class="pagination-item">
                  <i class="fas fa-arrow-right"></i>Next
                </span>
                <span>1 of 124</span>
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </div>
  </div>
</main>

{% endblock %}