{% extends "essex_topic_template.html" %}
{% block content %}
<nav class="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="examples/news">Discover something new with the Essex Explorer Pass</a></li>
  </ol>
</nav>
<main id="content">
  <div class="container">
    <div class="main">
      <section aria-label="Discover something new with the Essex Explorer Pass content" class="intro">
        <h1 class="page-heading">Discover something new with the Essex Explorer Pass</h1>
      </section>
      <section class="content news-page">
        <img src="/public/images/shutterstock_398303077.jpg" alt="Discover something new with the Essex Explorer Pass" width="200" height="112" />
        <p>Spending time outdoors is a great way of improving your health and wellbeing, having fun and discovering something new about the county’s beautiful landscapes. To help you get out more this summer, we have launched the new Essex Explorer Pass which will help you save money on car parking, cafes and other attractions at Essex Country Parks.</p>
        <p>From the ornamental lakes at Danbury, to the deer park and Stick Man trail at Weald, there is something for everyone all year round. To find out more, visit the <a href="http://www.visitparks.co.uk/explorer-pass/">Essex Country Parks website</a>.</p>
        <p class="meta">
        Last updated 
        20 June 2019
        </p>
      </section>
    </div>
  </div>
</main>
{% endblock %}