{% extends "essex_topic_template.html" %}

{% block content %}

<div class="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="examples/news">Bake Off contestant at Cressing Chocolate Festival</a></li>
  </ol>
</div>

<main id="content">
  <div class="container">
    <div class="main">
      <section class="intro">
        <h1>Bake Off contestant at Cressing Chocolate Festival</h1>
      </section>

      <section class="content news-page">
        <img src="/public/images/jon-jenkins-bake-off-cressing-food-festival.jpg">
        <p>We can now announce that Jon Jenkins, who appeared on last year's Great British Bake Off, will be at Cressing Chocolate Festival on 19 April.</p>

        <p>Jon, who became well-known for his love of bright shirts, made it to week seven on Bake Off, creating a number of fantastic bakes along the way.</p>

        <p>If you want some top tips, Jon will be making an Easter-themed chocolate ball reveal and a chocolate collar around a cake. He will also be hosting a question and answer session, so anyone attending the workshop will be able to find out more about his techniques and experience on the show.</p>

        <p>Jon said: “I'm really excited to be part of the inaugural Cressing Chocolate Festival on Good Friday - it promises to be a fantastic event! I'm going to be tempering chocolate to make an amazing Easter-themed chocolate ball reveal and a chocolate collar around a cake. If you want to be part of it, please do come along to Cressing Barns - I can't wait to meet everyone."</p>
        <p class="meta">Last updated 21st May</p>
      </section>

      <section class="function">
        <h4>Share this</h4>
        <ul class="social">
          <li>
            <a href="#"><i class="fab fa-facebook-f"></i><span>Facebook</span></a></li><li>
            <a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a></li><li>
            <a href="#"><i class="fab fa-youtube"></i><span>Youtube</span></a></li><li>
            <a href="#"><i class="fab fa-flickr"></i><span>Flickr</span></a></li>
        </ul>
      </section>
    </div>
  </div>
</main>

{% endblock %}
