{% extends "essex_main_template_search_header.html" %}

{% block content %}

<main id="content">
  <div class="container">
    <div class="main only">
      <section class="intro">
        <h1 class="page-heading">Essex County Council News</h1>
      </section>
      <section class="content">
        <div class="landing">
          <ul>
            <li class="landing-preview">
              <div class="landing-text">
                <p class="meta">3 October 2018</p>
                <h2 class="sub-section-heading"><a href="/examples/news">Preview heading with image above</a></h2>
                <p>Preview copy explaining what content it contains. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="landing-img">
                <img src="/public/images/news.jpg" alt="Image description">
              </div>
            </li>
            <li class="landing-preview">
              <div class="landing-text">
                <p class="meta">3 October 2018</p>
                <h2 class="sub-section-heading"><a href="/examples/news">Preview heading with image above</a></h2>
                <p>Preview copy explaining what content it contains. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="landing-img">
                <img src="/public/images/news.jpg" alt="Image description">
              </div>
            </li>
            <li class="landing-preview">
              <div class="landing-text">
                <p class="meta">3 October 2018</p>
                <h2 class="sub-section-heading"><a href="/examples/news">Preview heading with image above</a></h2>
                <p>Preview copy explaining what content it contains. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="landing-img">
                <img src="/public/images/news.jpg" alt="Image description">
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="function">

        <nav class="pagination">
          <ul>
            <li class="prev">
              <a href="#">
                <span class="pagination-item">
                  <i class="fas fa-arrow-left"></i>Previous
                </span>
                <span>100 of 124</span>
              </a>
            </li>
            <li class="next">
              <a href="#">
                <span class="pagination-item">
                  <i class="fas fa-arrow-right"></i>Next
                </span>
                <span>100 of 124</span>
              </a>
            </li>
          </ul>
        </nav>

      </section>
    </div>
  </div>
</main>

{% endblock %}