{% extends "essex_main_template.html" %}
{% block content %}
<nav class="breadcrumbs" aria-label="breadcrumbs">
  <ol>
    <li><a href="/docs/core/contents">Contents</a></li>
    <li><a href="#">Start page</a></li>
  </ol>
</nav>
<main id="content">
  <div class="container">
    <div class="main">
      <section class="content">
        <h1>Care contribution calculator</h1>
        <p class="subtitle">Use our simple calculator to estimate if you, or the person you are looking after, might be eligible for financial support towards care costs.</p>
        <p>This is a rough guide only. You won’t find out for definite if you are eligible for financial support or how much you’ll get until you complete a financial assessment.</p>
        <h2>Before you start</h2>
        <p>This calculator won’t store or send on any information that you provide.</p>
        <p>Your actual contribution can only be calculated after a <a href="#">financial assessment</a>.</p>
        <p>You will be asked about:</p>
        <ul>
          <li>savings and investments</li>
          <li>pensions</li>
          <li>income from renting out property</li>
          <li>benefits</li>
          <li>your date of birth</li>
        </ul>
        <p>This calcualtor is not suitable for people who are in, or about to go into residential care and own their home. Your home may be included as part of the calculation so we are unable to give you an estimate of your care contribution.</p>
        <a href="#" class="button button-start" role="button">Start now</a>
        <p>Completion time: 5-10 minutes</p>
      </section>
    </div>
  </div>
</main>
{% endblock %}