{% extends "essex_topic_template.html" %}

{% block content %}

<main id="content">
  <div class="container">
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="examples/topic">Social care and health</a></li>
        <li><a href="#">Report abuse or neglect: Report a concern about a child</a></li>
      </ol>
    </div>
    <div class="main">
      <section class="intro">
        <h1 class="heading-large">
          Adult Social Care: step by step
        </h1>
        <p>
          Getting care and support for yourself, or someone you care for, can be complicated and stressful. Use this step by step guide to check what to do and who speak to at each stage of the process.
        </p>
      </section>

      <section class="content">
        <div class="toggle">
          <div data-target="tab-one">
            <h3 class="heading-medium">1. Check what help is available</h3>
            <input class="checkbox" id="toggle-one" type="checkbox">
            <label class="show" for="toggle-one">Show</label>
            <label class="hide" for="toggle-one">Hide</label>
          </div>
          <div class="js-hidden content" id="tab-one">
            <p><a href="#">Help with walking and mobility</a></p>
            <p><a href="#">Equipment to help at home</a></p>
            <p><a href="#">Help with meals and shopping</a></p>
            <p><a href="#">Search the directory of independent service providers</a></p>
            <p><a href="social-care-help">Contact Adult Social Care</a> for an informal chat about your care and support needs or to arrange an assessment of care needs.</p>
          </div>
        </div>

        <div class="toggle">
          <div data-target="tab-two">
            <h3 class="heading-medium">2. Get an assessment of care needs</h3>
            <input class="checkbox" id="toggle-two" type="checkbox">
            <label class="show" for="toggle-two">Show</label>
            <label class="hide" for="toggle-two">Hide</label>
          </div>
          <div class="js-hidden content" id="tab-two">
            <p><a href="social-care-help">Contact Adult Social Care</a> for an informal chat about your care and support needs.</p>
            <p>A social worker or occupational therapist might visit you to discuss your care and support needs and advise you on the next steps.</p>
          </div>
        </div>

        <div class="toggle">
          <div data-target="tab-three">
            <h3 class="heading-medium">3. Care and support plan</h3>
            <input class="checkbox" id="toggle-three" type="checkbox">
            <label class="show" for="toggle-three">Show</label>
            <label class="hide" for="toggle-three">Hide</label>
          </div>
          <div class="js-hidden content" id="tab-three">
            <p>If you are assessed as needing care and support, a social worker will agree a care and support plan with you. The plan gives details of:</p>
            <ul class="list list-bullet">
              <li>how your support will be provided</li>
              <li>how much it costs</li>
              <li>who will be paying for it</li>
            </ul>
          </div>
        </div>

        <div class="toggle">
          <div data-target="tab-four">
            <h3 class="heading-medium">4. Check eligibility for financial support</h3>
            <input class="checkbox" id="toggle-four" type="checkbox">
            <label class="show" for="toggle-four">Show</label>
            <label class="hide" for="toggle-four">Hide</label>
          </div>
          <div class="js-hidden content" id="tab-four">
            <p>Some people are entitled to financial support towards the cost of care. This depends on your financial circumstances.</p>
            <p>Use our <a href="financial-checker">5-minute financial checker</a> to find out if you, or the person you are looking after, might be eligible for financial support.</p>
            <p>Complete your <a href="financial-assessment">full financial assessment</a> so that we can work out how much you will need to pay towards your care.</p>
          </div>
        </div>

        <div class="toggle">
          <div data-target="tab-five">
            <h3 class="heading-medium">5. Arrange care and support</h3>
            <input class="checkbox" id="toggle-five" type="checkbox">
            <label class="show" for="toggle-five">Show</label>
            <label class="hide" for="toggle-five">Hide</label>
          </div>
          <div class="js-hidden content" id="tab-five">
            <p>If we have agreed to pay for some or all of your care, we will give you a <a href="#">personal budget</a>. You can use this to:</p>
            <ul class="list list-bullet">
              <li>arrange your own care and support</li>
              <li>authorise the council to arrange care and support on your behalf</li>
              <li>arrange some care and support yourself, and have some arranged for you</li>
            </ul>
            <p>This will be disccussed when your social worker creates your care and support plan.</p>
            <p><a href="#">Search the directory of independent service providers</a></p>
            <p><a href="#">Check costs of council care and support services</a></p>
            <p><a href="#">Find out about care homes</a></p>
          </div>
        </div>

        <div class="toggle">
          <div data-target="tab-six">
            <h3 class="heading-medium">6. Pay for care</h3>
            <input class="checkbox" id="toggle-six" type="checkbox">
            <label class="show" for="toggle-six">Show</label>
            <label class="hide" for="toggle-six">Hide</label>
          </div>
          <div class="js-hidden content" id="tab-six">
            <p><a href="#">Pay your care invoice</a></p>
            <p><a href="#">Arrange direct payments</a></p>
            <p><a href="#">Seek independent financial advice</a></p>
          </div>
        </div>

      </section>
    </div>
  </div>
</main>

{% endblock %}
