{% extends "essex_topic_template.html" %}

{% block content %}

<main id="content">
  <div class="container">
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="examples/topic">Step by step</a></li>
        <li><a href="#">Step by Step example</a></li>
      </ol>
    </div>
    <div class="main">
      <section class="intro">
        <h1 class="heading-large">
          Step by step
        </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </section>

      <section class="content">
        <div class="step-by-step">
          <div class="step">
            <span class="section-heading number">1</span>
            <span class="step-link"></span>
          </div>
          <div class="toggle">
            <div data-target="tab-one">
              <h3 class="section-heading number">Step</h3>
              <input class="checkbox" id="toggle-one" type="checkbox">
              <label class="show" for="toggle-one">Show</label>
              <label class="hide" for="toggle-one">Hide</label>
            </div>
            <div class="js-hidden preview-list" id="tab-one">
              <ul>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="step-by-step">
          <div class="step">
            <span class="section-heading number">2</span>
            <span class="step-link"></span>
          </div>
          <div class="toggle">
            <div data-target="tab-two">
              <h3 class="heading-medium">Step</h3>
              <input class="checkbox" id="toggle-two" type="checkbox">
              <label class="show" for="toggle-two">Show</label>
              <label class="hide" for="toggle-two">Hide</label>
            </div>
            <div class="js-hidden preview-list" id="tab-two">
              <ul>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="step-by-step">
          <div class="step">
            <span class="section-heading number">3</span>
            <span class="step-link"></span>
          </div>
          <div class="toggle">
            <div data-target="tab-three">
              <h3 class="heading-medium">Step</h3>
              <input class="checkbox" id="toggle-three" type="checkbox">
              <label class="show" for="toggle-three">Show</label>
              <label class="hide" for="toggle-three">Hide</label>
            </div>
            <div class="js-hidden preview-list" id="tab-three">
              <ul>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p></li>
              </ul>
            </div>
          </div>
        </div>


        <div class="step-by-step">
          <div class="step">
            <span class="section-heading number">4</span>
            <span class="step-link"></span>
          </div>
          <div class="toggle">
            <div data-target="tab-four">
              <h3 class="heading-medium">Step</h3>
              <input class="checkbox" id="toggle-four" type="checkbox">
              <label class="show" for="toggle-four">Show</label>
              <label class="hide" for="toggle-four">Hide</label>
            </div>
            <div class="js-hidden preview-list" id="tab-four">
              <ul>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="step-by-step">
          <div class="step">
            <span class="section-heading number">5</span>
            <span class="step-link"></span>
          </div>
          <div class="toggle">
            <div data-target="tab-five">
              <h3 class="heading-medium">Step</h3>
              <input class="checkbox" id="toggle-five" type="checkbox">
              <label class="show" for="toggle-five">Show</label>
              <label class="hide" for="toggle-five">Hide</label>
            </div>
            <div class="js-hidden preview-list" id="tab-five">
              <ul>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="step-by-step">
          <div class="step">
            <span class="section-heading number">6</span>
            <span class="step-link"></span>
          </div>
          <div class="toggle">
            <div data-target="tab-six">
              <h3 class="heading-medium">Step</h3>
              <input class="checkbox" id="toggle-six" type="checkbox">
              <label class="show" for="toggle-six">Show</label>
              <label class="hide" for="toggle-six">Hide</label>
            </div>
            <div class="js-hidden preview-list" id="tab-six">
              <ul>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet.</a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p></li>
              </ul>
            </div>
          </div>
        </div>

      </section>
    </div>
  </div>
</main>

{% endblock %}
