{% extends "essex_topic_template.html" %}

{% block content %}

<nav class="breadcrumbs" aria-label="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="#">Social care and health</a></li>
  </ol>
</nav>

<main id="content">
  <div class="container">
    <div class="main only">
      <section class="intro">
        <h1>Social care and health</h1>

        {% block linkbox %}
          {% include "includes/link-box.html" %}
        {% endblock %}
      </section>

      <section class="content">
        <div class="preview-list">
          <ul>
            <li>
                <a href="#">Support for carers</a>
                <p>Information, support and guidance for people who look after someone</p>
            </li>
            <li>
                <a href="#">Accessible transport and mobility</a>
                <p>Includes Blue Badge, disabled parking bays, mobilty aids and accessible transport</p>
            </li>
            <li>
                <a href="#">Advocacy</a>
                <p>Find out why you may need an advocate, and whom to contact for advocacy services in Essex</p>
            </li>
            <li>
                <a href="#">Autism</a>
                <p>Information to people of all ages affected by autism, either for themselves, a family member or a friend.</p>
            </li>
          </ul>
        </div>
      </section>

      <section class="function">
        <div class="signup" role="form" aria-label="Subscribe to email">
          <h2 class="section-heading">Stay up to date</h2>
          <p>Get the latest news and information about your council services</p>
          <form action="/search" method="get" class="form">
            <div class="group">
              <div class="signup-input">
                <label for="email">Enter your email address
                  <input type="text" id="email" name="email" autocomplete="off" placeholder="Enter your email address">
                </label>
              </div>
              <div class="signup-button" id="submitYourEmailAddress">
                <button type="submit" class="button subscribe">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
      </section>

    </div>
  </div>
</main>


{% endblock %}
