{% extends "core.html" %}

{% block content %}


<main id="content">
  <div class="container">
    <div class="main only">
      <section class="content">
        <h1>Essex Service Design System</h1>
        <p>This Design System</a> is in constant development and is used extensively throughout development.</p>
        <h2>How is it being used?</h2>
        <p>It ensures visibility across teams, allows better conversations and understanding of how we are building, help us through bug checking and accessibility testing, and also provides guidance.</p>
        <p><a href="docs/core/contents">Essex Service Design System</a></p>
      </section>
    </div>
  </div>
</main>

{% endblock %}