// Logo
// ==========================================================================

.logo-wrap {
  a {
    img {
      visibility: hidden;
      vertical-align: bottom;
      height: initial;
      margin: 0;
    }
    &.logotype {
      float: left;
      background-position: 0 0;
      line-height: 0;
      text-indent: -9999px;
      text-decoration: none;
      background: url('/public/images/logotype.png') no-repeat;
      background-size: $logo-b-width $logo-b-height;
      border-bottom: $border-thin $brand solid;
      margin-top: 3px;
      margin-bottom: -4px;
      &:hover {
        text-indent: -9999px;
        text-decoration: none;
        border-bottom: $border-thin $white solid;
      }
      &:focus {
        background-color: $brand;
        outline: $border-thick solid $focus-colour;
        border-bottom: $border-thin $white solid;
      }
      img {
        padding-bottom: 4px;
      }
    }
  }
}

.logo-wrap {
  display: inline-block;
  margin-top: $baseline*0.5;
  margin-bottom: $baseline*0.5;
  @include media(mobile) {
    margin-top: $baseline*0.25;
    margin-bottom: $baseline*0.25;
  }
  @media print {
    color: $black;
    font-weight: 700;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  span {
    @include small;
    font-weight: $light;
    text-transform: capitalize;
    color: $black;
    margin-left: $gutter*0.125;
  }
}

a.logo-text {
  font-family: $stack-logo;
  font-size: ms(4);
  line-height: $form-height*0.75;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  text-indent: 0;
  &:hover {
    text-decoration: none;
    border-bottom: $border-normal $white solid;
  }
  &:focus {
    background-color: $brand;
    outline: $border-thick solid $focus-colour;
    border-bottom: $border-normal $white solid;
  }
}

a.logo-text.seax {
  float: left;
  background-position: 0 0;
  line-height: 1;
  background: url('/public/images/seax.png') no-repeat;
  background-size: $seax-width $seax-height; 
  border-bottom: $border-normal $brand solid;
  margin-top: 4px;
  margin-bottom: -6px;
  padding-bottom: 6px;
  &:hover {
    text-decoration: none;
    border-bottom: $border-normal $white solid;
  }
  &:focus {
    background-color: $brand;
    outline: $border-thick solid $focus-colour;
    border-bottom: $border-normal $white solid;
  }
  img {
    display: inline-block;
    margin: 0;
  }
}
